<p-dialog
  [header]="'ACTIONS.DELETE.PERMISSION' | translate"
  [(visible)]="displayDeleteDialog"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
>
  <div class="mr-2 flex column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div class="flex flex-column row-gap-2">
      <div id="apm_permission_delete_message" class="font-bold">
        {{ 'ACTIONS.DELETE.MESSAGE.PERMISSION' | translate }}
      </div>
      <div id="apm_permission_delete_role_name" class="font-bold text-center danger-action-text">
        {{ permission?.resource }} # {{ permission?.action }}
      </div>
      <div *ngIf="permission?.operator">{{ 'ACTIONS.DELETE.MESSAGE.OPERATOR_TEXT' | translate }}</div>
      <div class="white-space-nowrap">{{ 'ACTIONS.DELETE.NO_UNDO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        autofocus
        id="apm_permission_delete_action_no"
        icon="pi pi-times"
        (onClick)="onClose()"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <p-button
        id="apm_permission_delete_action_yes"
        icon="pi pi-check"
        (onClick)="onDeleteConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
    </div>
  </ng-template>
</p-dialog>
