<p-dialog
  [header]="'ACTIONS.IMPORT.ASSIGNMENT' | translate"
  [visible]="displayImportDialog"
  (onHide)="onCloseImportDialog()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [style]="{ width: '550px' }"
  styleClass="disable-max-height-preset"
>
  <div class="flex flex-column row-gap-3">
    <p-fileUpload
      #fileUploader
      id="apm_import_file_upload"
      mode="advanced"
      name="file"
      accept=".json"
      [maxFileSize]="1000000"
      [customUpload]="true"
      (uploadHandler)="onImportConfirmation()"
      (onImportClear)="onImportClear()"
      (onRemove)="onImportClear()"
      (onSelect)="onImportFileSelect($event)"
      [showUploadButton]="importError === undefined"
      [chooseLabel]="'ACTIONS.IMPORT.CHOOSE' | translate"
      [uploadLabel]="'ACTIONS.IMPORT.UPLOAD' | translate"
      [cancelLabel]="'ACTIONS.CANCEL' | translate"
    />
    @if (!importError && !importSnapshot) {
      <p-message
        id="apm_import_general_message"
        severity="info"
        [text]="'ACTIONS.IMPORT.GENERAL_MESSAGE' | translate"
      ></p-message>
    }
    @if (importError) {
      @if (importError.exceptionKey) {
        <p-message
          id="apm_import_error_message_general"
          class="w-full"
          severity="error"
          [text]="importError ? (importError.exceptionKey | translate) : ''"
        ></p-message>
      }
      @let err = importError.error;
      @if (err) {
        <!-- additional information about the error, sent by server -->
        <div class="max-h-8rem p-2 surface-50 border-round overflow-auto">
          @if (err.detail && !err.invalidParams) {
            <div>{{ err.detail }}</div>
          }
          @if (err.invalidParams && err.invalidParams.length > 0) {
            <div>
              @let typeOfKey =
                'ACTIONS.IMPORT.ERROR.' +
                (importError.statusText === 'Conflict' ? 'CONFLICT' : 'PROBLEM') +
                (err.invalidParams.length > 1 ? 'S' : '');
              <div>{{ err.invalidParams.length }} {{ typeOfKey | translate }}:</div>
              <ul class="m-2 px-3">
                @for (param of err.invalidParams.slice(0, 10); track param.name) {
                  <li>
                    <b>{{ param.name }}</b>
                    <br />
                    {{ param.message }}
                  </li>
                }
              </ul>
            </div>
          }
        </div>
      }
    }
  </div>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end column-gap-2 row-gap-1">
      <p-button
        id="apm_import_action_close"
        icon="pi pi-times"
        (onClick)="onCloseImportDialog()"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
    </div>
  </ng-template>
</p-dialog>
