<p-dialog
  [header]="'ACTIONS.EXPORT.ASSIGNMENT' | translate"
  [(visible)]="displayExportDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="false"
  [style]="{ 'max-width': '500px' }"
>
  <div *ngIf="products" class="flex flex-column row-gap-1">
    <div>{{ listedProductsHeader | translate }}</div>
    <p-listbox
      id="apm_export_product_list"
      [options]="products"
      [(ngModel)]="selectedProductNames"
      [filter]="true"
      [checkbox]="true"
      [multiple]="true"
      [showToggleAll]="true"
      [metaKeySelection]="false"
      [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
      [listStyle]="{ 'max-height': '300px' }"
    />
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end column-gap-2 row-gap-1">
      <p-button
        id="apm_export_action_cancel"
        icon="pi pi-times"
        (onClick)="onCloseExportDialog()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="apm_export_action_export"
        icon="pi pi-download"
        (onClick)="onExportConfirmation()"
        [disabled]="selectedProductNames.length === 0"
        [label]="'ACTIONS.EXPORT.LABEL' | translate"
        [ariaLabel]="'ACTIONS.EXPORT.LABEL' | translate"
        [pTooltip]="'ACTIONS.EXPORT.ITEMS_SELECTED.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
