<ocx-portal-page permission="APP#VIEW" helpArticleId="PAGE_PERMISSION_DETAIL">
  <ocx-page-header
    [loadingApp]="loadingApp"
    [actions]="(actions$ | async) ?? []"
    [header]="loadingApp ? '' : ('DIALOG.DETAIL.HEADER_' + currentApp.appType | translate) + currentApp.name"
    [subheader]="loadingApp ? '' : ('DIALOG.DETAIL.SUBHEADER_' + currentApp.appType | translate)"
    [manualBreadcrumbs]="false"
  >
  </ocx-page-header>

  <ocx-page-content>
    <p-message
      *ngIf="exceptionKey"
      id="apm_app_detail_permission_table_data_access_issue"
      severity="error"
      styleClass="m-3"
      [text]="exceptionKey | translate"
    ></p-message>
    <p-message
      *ngIf="loadingApp || loadingPermissions"
      id="apm_app_detail_permission_table_data_loading"
      severity="info"
      styleClass="m-3"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>

    <p-table
      *ngIf="!exceptionKey && !loadingApp && !loadingPermissions"
      #permissionTable
      id="apm_app_detail_permission_table"
      styleClass="pb-2 px-3"
      [columns]="rolesFiltered"
      [value]="permissionRows"
      [globalFilterFields]="filterBy"
      (onSort)="onSortPermissionTable()"
      [scrollable]="true"
      scrollHeight="590px"
      [rows]="10"
      [rowsPerPageOptions]="[10, 30, 100, 1000]"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
    >
      <ng-template pTemplate="caption">
        <div class="flex flex-wrap justify-content-between row-gap-1 p-1">
          <div class="flex align-items-center sm:ml-1 gap-1">
            <div
              class="slim-selectbutton align-items-start filter-selectbutton"
              [pTooltip]="'DIALOG.DETAIL.QUICK_FILTER.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <p-selectButton
                inputid="apm_app_detail_permission_table_quick_filter"
                styleClass="data-view-control"
                [options]="(quickFilterItems$ | async) ?? []"
                [(ngModel)]="quickFilterValue"
                (onChange)="onQuickFilterChange($event)"
                [ariaLabel]="'DIALOG.DETAIL.QUICK_FILTER.TOOLTIP' | translate"
              >
                <ng-template let-item pTemplate
                  ><span [id]="'pm_app_detail_quick_filter_' + item.value"> {{ item.label }}</span></ng-template
                >
              </p-selectButton>
              <div class="p-selectbutton-subtitle opacity-80">{{ 'DIALOG.DETAIL.QUICK_FILTER.LABEL' | translate }}</div>
            </div>
          </div>

          <div class="p-inputgroup p-inputgroup w-20rem md:mx-3">
            <a
              tabindex="0"
              id="apm_app_detail_permission_table_filter_contains"
              class="p-inputgroup-addon text-lg font-bold text-center px-1 py-0 pseudo-selectbutton data-view-control-border"
              [class.p-highlight]="this.filterMode === 'contains'"
              (click)="onFilterModeChange('=')"
              [ariaLabel]="'ACTIONS.SEARCH.FILTER.MODE_CONTAINS' | translate"
              [pTooltip]="'ACTIONS.SEARCH.FILTER.MODE_CONTAINS' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              =
            </a>
            <a
              tabindex="0"
              id="apm_app_detail_permission_table_filter_not_contains"
              class="p-inputgroup-addon text-lg font-bold text-center px-1 py-0 pseudo-selectbutton data-view-control-border"
              [class.p-highlight]="this.filterMode === 'notContains'"
              (click)="onFilterModeChange('!=')"
              [ariaLabel]="'ACTIONS.SEARCH.FILTER.MODE_NOT_CONTAINS' | translate"
              [pTooltip]="'ACTIONS.SEARCH.FILTER.MODE_NOT_CONTAINS' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              !=
            </a>
            <span class="p-float-label">
              <input
                #permissionTableFilterInput
                id="apm_app_detail_permission_table_filter"
                pInputText
                type="text"
                class="py-0 data-view-control-border"
                (input)="tableFilter($any($event.target).value)"
                [ariaLabel]="'ACTIONS.SEARCH.FILTER.LABEL' | translate"
                [pTooltip]="
                  ('ACTIONS.SEARCH.FILTER.OF' | translate) +
                  ('PERMISSION.RESOURCE' | translate) +
                  ', ' +
                  ('PERMISSION.ACTION' | translate)
                "
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="apm_app_detail_permission_table_filter">
                {{ 'ACTIONS.SEARCH.FILTER.LABEL' | translate }}</label
              >
            </span>
            <a
              tabindex="0"
              id="apm_app_detail_permission_table_filter_clear"
              class="p-inputgroup-addon bg-primary pseudo-button pi pi-filter-slash"
              (click)="onClearTableFilter()"
              [ariaLabel]="'ACTIONS.SEARCH.FILTER.CLEAR' | translate"
              [pTooltip]="'ACTIONS.SEARCH.FILTER.CLEAR' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </a>
          </div>
          <p-button
            id="apm_app_detail_permission_table_reload_button"
            styleClass="h-full"
            icon="pi pi-refresh"
            (onClick)="onReload()"
            [ariaLabel]="'ACTIONS.SEARCH.RELOAD' | translate"
            [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-button>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <!-- 1. HEADER ROW -->
        <tr>
          <th
            pFrozenColumn
            id="apm_app_detail_permission_table_header_permissions"
            [attr.colspan]="(currentApp.isProduct ? 2 : 3) + (showPermissionTools ? 2 : 0)"
            class="py-2 px-0 border-right-primary"
          >
            <!-- summary -->
            <div *ngIf="!currentApp.isProduct" class="absolute pl-2 flex flex-column row-gap-1 text-sm">
              <div>{{ 'PERMISSION.LABEL' | translate }}: {{ permissions.length }}</div>
              <div>
                {{ 'DIALOG.DETAIL.HEADER_PRODUCTS' | translate }}{{ currentApp.workspaceDetails?.products?.length }}
              </div>
            </div>
            <div class="flex flex-row justify-content-evenly">
              <div class="flex flex-row align-items-center column-gap-2">
                <span
                  class="p-2 inline-block font-bold text-xl"
                  [attr.aria-label]="'PERMISSION.LABEL' | translate"
                  [pTooltip]="'PERMISSION.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  >{{ 'PERMISSION.LABEL' | translate }}</span
                >
                <button
                  pbutton
                  type="button"
                  *ngIf="myPermissions.includes('PERMISSION#MANAGE')"
                  id="apm_app_detail_permission_table_header_permission_tools"
                  class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="showPermissionTools = !showPermissionTools"
                  [ariaLabel]="'ACTIONS.VIEW.PERMISSION.TOOLS' | translate"
                  [pTooltip]="'ACTIONS.VIEW.PERMISSION.TOOLS' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-cog" aria-hidden="true"></span>
                </button>
                <ng-container *ngIf="showPermissionTools">
                  <button
                    pbutton
                    type="button"
                    id="apm_app_detail_permission_table_header_permission_create"
                    class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    (click)="onCreatePermission()"
                    [ariaLabel]="'ACTIONS.CREATE.PERMISSION' | translate"
                    [pTooltip]="'ACTIONS.CREATE.PERMISSION' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span class="text-primary font-medium p-button-icon pi pi-plus-circle" aria-hidden="true"></span>
                  </button>
                  <p-checkbox
                    type="text"
                    inputId="apm_app_detail_permission_table_header_display_additional_row_data"
                    styleClass="ml-2 cursor-auto shadow-none"
                    [(ngModel)]="displayAdditionalRowData"
                    [binary]="true"
                    [label]="'DIALOG.DETAIL.ADDITIONAL_INFO' | translate"
                    [ariaLabel]="'DIALOG.DETAIL.ADDITIONAL_INFO' | translate"
                    [pTooltip]="'DIALOG.DETAIL.ADDITIONAL_INFO.TOOLTIP' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  ></p-checkbox>
                </ng-container>
              </div>
            </div>
          </th>
          <!-- 1. HEADER ROW - ROLES -->
          <th id="apm_app_detail_permission_table_header_roles" class="py-2" [attr.colspan]="roles ? roles.length : 0">
            <div class="flex flex-row justify-content-evenly">
              <div class="flex flex-row align-items-center column-gap-2">
                <span
                  class="p-2 inline-block font-bold text-xl"
                  [attr.aria-label]="'ROLE.LABEL' | translate"
                  [pTooltip]="'ROLE.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  >{{ 'ROLE.LABEL' | translate }}</span
                >
                <div class="flex flex-row column-gap-2">
                  <button
                    *ngIf="myPermissions.includes('ROLE#MANAGE')"
                    pbutton
                    type="button"
                    id="apm_app_detail_permission_table_header_permission_tools"
                    class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    (click)="showRoleTools = !showRoleTools"
                    [ariaLabel]="'ACTIONS.VIEW.ROLE.TOOLS' | translate"
                    [pTooltip]="'ACTIONS.VIEW.ROLE.TOOLS' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span class="text-primary font-medium p-button-icon pi pi-cog" aria-hidden="true"></span>
                  </button>
                  <ng-container *ngIf="showRoleTools && myPermissions.includes('ROLE#CREATE')">
                    <button
                      pbutton
                      type="button"
                      id="apm_app_detail_permission_table_header_add_role_action"
                      class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                      (click)="onCreateRole($event)"
                      [ariaLabel]="'ACTIONS.CREATE.ROLE' | translate"
                      [pTooltip]="'ACTIONS.CREATE.ROLE.TOOLTIP' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    >
                      <span class="text-primary font-medium p-button-icon pi pi-plus-circle" aria-hidden="true"></span>
                    </button>
                    <button
                      pbutton
                      type="button"
                      id="am_app_detail_permission_table_header_action_add_iam_roles"
                      class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                      (click)="onAddIAMRoles($event)"
                      [ariaLabel]="'ACTIONS.CREATE.IAM_ROLES' | translate"
                      [pTooltip]="'ACTIONS.CREATE.IAM_ROLES.TOOLTIP' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    >
                      <span class="text-primary font-medium p-button-icon pi pi-bolt" aria-hidden="true"></span>
                    </button>
                    <button
                      *ngIf="missingWorkspaceRoles"
                      pbutton
                      type="button"
                      id="apm_app_detail_permission_table_header_action_add_workspace_roles"
                      class="p-1 p-button-rounded p-button p-component p-button-icon-only button-letter-icon"
                      (click)="onCreateWorkspaceRoles($event)"
                      [ariaLabel]="'ACTIONS.CREATE.WORKSPACE_ROLES.TOOLTIP' | translate"
                      [pTooltip]="'ACTIONS.CREATE.WORKSPACE_ROLES.TOOLTIP' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    >
                      <span class="text-sm p-button-icon letter-icon" aria-hidden="true">w</span>
                    </button>
                  </ng-container>
                </div>
                <div *ngIf="roles.length > 3" class="ml-2 p-inputgroup h-2rem">
                  <span class="p-inputgroup-addon pi pi-filter p-2 text-sm min-w-min"> </span>
                  <input
                    #roleFilter
                    pInputText
                    type="search"
                    id="apm_app_detail_permission_table_header_role_filter"
                    class="py-0 px-2 max-w-20rem h-2rem text-responsive"
                    (input)="onRoleFilterChange(roleFilter.value)"
                    [placeholder]="'DIALOG.DETAIL.ROLES.FILTER' | translate"
                    [pTooltip]="'DIALOG.DETAIL.ROLES.FILTER.TOOLTIP' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  />
                </div>
              </div>
            </div>
          </th>
        </tr>

        <!-- 2. HEADER ROW - permission filter and role management-->
        <tr>
          <ng-container *ngIf="showPermissionTools">
            <th
              pFrozenColumn
              id="apm_app_detail_permission_table_header_actions"
              class="py-2 vertical-align-bottom border-bottom-primary text-center"
            >
              {{ 'PERMISSION.ACTIONS' | translate }}
            </th>
            <th pFrozenColumn class="py-2 vertical-align-bottom border-bottom-primary">
              <span
                class="pi pi-exclamation-circle"
                [attr.aria-label]="'PERMISSION.MANDATORY.COLUMN' | translate"
                [pTooltip]="'PERMISSION.MANDATORY.COLUMN' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
            </th>
          </ng-container>
          <th
            pFrozenColumn
            pSortableColumn="key"
            id="apm_app_detail_permission_table_header_permission_key"
            class="p-2 vertical-align-bottom border-bottom-primary sm:white-space-nowrap"
          >
            <div class="flex flex-column sm:flex-row justify-content-end sm:justify-content-start">
              <span class="pb-4 sm:pb-0 white-space-nowrap">{{ 'PERMISSION.KEY' | translate }}</span>
              <p-sortIcon field="key"></p-sortIcon>
            </div>
          </th>
          <th
            pFrozenColumn
            *ngIf="currentApp.appType === 'WORKSPACE'"
            id="apm_app_detail_permission_table_header_permission_filter_product"
            class="p-2 vertical-align-bottom border-bottom-primary white-space-nowrap"
          >
            <div *ngIf="currentApp.isProduct">{{ 'DIALOG.DETAIL.FILTER.PRODUCT' | translate }}</div>
            <div *ngIf="!currentApp.isProduct" class="flex flex-wrap sm:white-space-nowrap">
              <span #filterProduct class="p-float-label inline-block">
                <p-dropdown
                  id="apm_app_detail_permission_table_filter_product_name"
                  styleClass="w-full clear-icon-used"
                  [appendTo]="'body'"
                  [showClear]="true"
                  [options]="filterProductItems"
                  [(ngModel)]="filterProductValue"
                  (onChange)="onFilterItemChangeProduct($event)"
                  [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                  [pTooltip]="'DIALOG.DETAIL.FILTER.PRODUCT.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></p-dropdown>
                <label for="apm_app_detail_permission_table_filter_product_name">
                  {{ 'DIALOG.DETAIL.FILTER.PRODUCT' | translate }}</label
                >
              </span>
              <button
                pbutton
                type="button"
                id="app_detail_permission_table_sort_product_name"
                class="p-2 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                (click)="onFilterItemSortIcon($event, sortIconProduct, 'product')"
                [pTooltip]="'PERMISSION.SORT.PRODUCT' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span #sortIconProduct class="pi pi-fw pi-sort-alt"></span>
              </button>
            </div>
          </th>
          <th
            pFrozenColumn
            id="apm_app_detail_permission_table_header_permission_filter_app_id"
            class="p-2 vertical-align-bottom border-bottom-primary white-space-nowrap border-right-primary"
          >
            <div class="flex flex-wrap sm:white-space-nowrap">
              <span #filterApp class="p-float-label inline-block">
                <p-dropdown
                  id="apm_app_detail_permission_table_filter_app_id"
                  styleClass="w-full clear-icon-used"
                  [appendTo]="'body'"
                  [showClear]="true"
                  [options]="filterAppItems"
                  [(ngModel)]="filterAppValue"
                  (onChange)="permissionTable.filter($event.value, 'appId', 'equals')"
                  (onClear)="onFilterItemClearAppId()"
                  [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                  [pTooltip]="'DIALOG.DETAIL.FILTER.APPS.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></p-dropdown>
                <label for="apm_app_detail_permission_table_filter_app_id">
                  {{ 'DIALOG.DETAIL.FILTER.APPS' | translate }}</label
                >
              </span>
              <button
                pbutton
                type="button"
                id="app_detail_permission_table_sort_app_id"
                class="p-2 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                (click)="onFilterItemSortIcon($event, sortIconAppId, 'appId')"
                [ariaLabel]="'PERMISSION.SORT.APP_ID' | translate"
                [pTooltip]="'PERMISSION.SORT.APP_ID' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span #sortIconAppId class="pi pi-fw pi-sort-alt"></span>
              </button>
            </div>
          </th>

          <!-- 2. HEADER ROW - ROLES -->
          <th
            id="apm_app_detail_permission_table_header_roles"
            *ngFor="let role of columns"
            class="p-2 text-center border-bottom-primary border-right-1 vertical-align-top"
          >
            <div class="flex flex-row gap-1 justify-content-center align-items-center white-space-nowrap">
              <button
                pbutton
                type="button"
                *ngIf="myPermissions.includes('PERMISSION#GRANT') && permissionTable.totalRecords > 0"
                [id]="'app_detail_permission_table_col_' + role.id + '_action_grant_all'"
                class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                (click)="onGrantAllPermissions($event, role)"
                [ariaLabel]="'PERMISSION.ASSIGNMENTS.GRANT_ALL_FOR_ROLE' | translate"
                [pTooltip]="'PERMISSION.ASSIGNMENTS.GRANT_ALL_FOR_ROLE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="text-primary font-medium p-button-icon pi pi-circle-fill" aria-hidden="true"></span>
              </button>
              <button
                pbutton
                type="button"
                *ngIf="myPermissions.includes('PERMISSION#GRANT') && permissionTable.totalRecords > 0"
                [id]="'app_detail_permission_table_col_' + role.id + '_action_revoke_all'"
                class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                (click)="onRevokeAllPermissions($event, role)"
                [ariaLabel]="'PERMISSION.ASSIGNMENTS.REVOKE_ALL_FOR_ROLE' | translate"
                [pTooltip]="'PERMISSION.ASSIGNMENTS.REVOKE_ALL_FOR_ROLE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="text-primary font-medium p-button-icon pi pi-circle" aria-hidden="true"></span>
              </button>
              <ng-container *ngIf="showRoleTools">
                <span
                  *ngIf="role.mandatory"
                  class="danger-action-text pi pi-lock"
                  aria-hidden="true"
                  [pTooltip]="'ROLE.MANDATORY' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></span>
                <button
                  pbutton
                  type="button"
                  *ngIf="!role.mandatory && myPermissions.includes('ROLE#EDIT')"
                  [id]="'app_detail_permission_table_col_' + role.id + '_action_edit'"
                  class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onEditRole($event, role)"
                  [ariaLabel]="'ACTIONS.EDIT.ROLE' | translate"
                  [pTooltip]="'ACTIONS.EDIT.ROLE' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-pencil" aria-hidden="true"></span>
                </button>
                <button
                  pbutton
                  type="button"
                  *ngIf="!role.mandatory && myPermissions.includes('ROLE#DELETE')"
                  [id]="'app_detail_permission_table_col_' + role.name + '_action_delete'"
                  class="p-1 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onDeleteRole($event, role)"
                  [ariaLabel]="'ACTIONS.DELETE.ROLE' | translate"
                  [pTooltip]="'ACTIONS.DELETE.ROLE' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-trash" aria-hidden="true"></span>
                </button>
              </ng-container>
            </div>
            <div
              [class.word-break-all]="role.name.length > 15"
              [pTooltip]="role.description ? role.description : ''"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ role.name + (role.isWorkspaceRole ? ' (w)' : '') }}
            </div>
          </th>
        </tr>
      </ng-template>

      <!-- TABLE BODY -->
      <ng-template pTemplate="body" let-row="rowIndex" let-rowData let-columns="columns">
        <tr [id]="'app_detail_permission_table_row_' + row">
          <ng-container *ngIf="showPermissionTools">
            <td
              pFrozenColumn
              [id]="'app_detail_permission_table_row_' + row + '_actions'"
              class="pt-2 pb-1 px-2 white-space-nowrap text-center"
            >
              <button
                pbutton
                type="button"
                *ngIf="myPermissions.includes('PERMISSION#EDIT')"
                [id]="'app_detail_permission_table_row_' + row + '_action_edit'"
                class="mr-1 my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                (click)="onDetailPermission($event, rowData)"
                [ariaLabel]="(rowData.mandatory ? 'ACTIONS.VIEW' : 'ACTIONS.EDIT') + '.PERMISSION' | translate"
                [pTooltip]="(rowData.mandatory ? 'ACTIONS.VIEW' : 'ACTIONS.EDIT') + '.PERMISSION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span
                  class="text-primary font-medium p-button-icon pi"
                  [class.pi-eye]="rowData.mandatory"
                  [class.pi-pencil]="!rowData.mandatory"
                  aria-hidden="true"
                ></span>
              </button>
              <button
                *ngIf="myPermissions.includes('PERMISSION#EDIT')"
                pbutton
                type="button"
                [id]="'app_detail_permission_table_row_' + row + '_action_copy'"
                class="mr-1 my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                (click)="onCopyPermission($event, rowData)"
                [ariaLabel]="'ACTIONS.COPY.PERMISSION' | translate"
                [pTooltip]="'ACTIONS.COPY.PERMISSION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="text-primary font-medium p-button-icon pi pi-copy" aria-hidden="true"></span>
              </button>
              <button
                *ngIf="myPermissions.includes('PERMISSION#DELETE')"
                pbutton
                type="button"
                [id]="'app_detail_permission_table_row_' + row + '_action_delete'"
                class="my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                (click)="onDeletePermission($event, rowData)"
                [disabled]="rowData.mandatory"
                [ariaLabel]="'ACTIONS.DELETE.PERMISSION' | translate"
                [pTooltip]="'ACTIONS.DELETE.PERMISSION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="danger-action-text font-medium p-button-icon pi pi-trash" aria-hidden="true"></span>
              </button>
            </td>
            <td pFrozenColumn>
              <span
                *ngIf="rowData.mandatory"
                class="pi pi-lock"
                [attr.aria-label]="'PERMISSION.MANDATORY.COLUMN' | translate"
                [pTooltip]="'PERMISSION.MANDATORY.COLUMN.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
            </td>
          </ng-container>
          <td pFrozenColumn [id]="'app_detail_permission_table_row_' + row + '_permission_key'" class="p-2">
            <div class="font-bold text-sm sm:text-base">{{ rowData.resource }} # {{ rowData.action }}</div>
            <div *ngIf="displayAdditionalRowData" class="mt-1 text-xs hidden lg:block">{{ rowData.description }}</div>
          </td>
          <td
            *ngIf="currentApp.appType === 'WORKSPACE'"
            pFrozenColumn
            [id]="'app_detail_permission_table_row_' + row + '_product_name'"
            class="p-2"
          >
            <div class="text-sm sm:text-base">{{ rowData.productDisplayName }}</div>
            <div *ngIf="displayAdditionalRowData" class="mt-1 text-xs hidden lg:block">{{ rowData.productName }}</div>
          </td>
          <td pFrozenColumn id="apm_app_detail_permission_table_data_app_id" class="p-2 border-right-primary">
            <div class="text-sm sm:text-base">{{ rowData.appDisplayName }}</div>
            <div *ngIf="displayAdditionalRowData" class="mt-1 text-xs hidden lg:block">{{ rowData.appId }}</div>
          </td>

          <!-- ASSIGNMENTS -->
          <td
            *ngFor="let role of columns"
            class="p-2 text-center border-right-1"
            [id]="'apm_app_detail_permission_table_' + row + '_' + role.name + '_' + rowData.key"
          >
            <!-- mandatory = display only -->
            <div *ngIf="protectedAssignments.includes(rowData.roles[role.id])">
              <span
                *ngIf="rowData.roles[role.id]"
                [id]="'apm_app_detail_permission_table_' + row + '_' + role.name + '_' + rowData.key + '_lock'"
                class="text-primary pi pi-lock"
                [attr.aria-label]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_1.MANDATORY' | translate"
                [pTooltip]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_1.MANDATORY' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </span>
            </div>
            <!-- not mandatory = display depending on permissions -->
            <ng-container *ngIf="!protectedAssignments.includes(rowData.roles[role.id])">
              <div *ngIf="!myPermissions.includes('PERMISSION#GRANT')">
                <span
                  *ngIf="rowData.roles[role.id]"
                  class="text-primary text-lg pi pi-circle-fill"
                  [id]="'apm_app_detail_permission_table_' + row + '_' + role.name + '_' + rowData.key + '_assigned'"
                  [attr.aria-label]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_1' | translate"
                  [pTooltip]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_1' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                </span>
                <span
                  *ngIf="!rowData.roles[role.id]"
                  class="text-primary text-lg pi pi-circle"
                  [id]="
                    'apm_app_detail_permission_table_' + row + '_' + role.name + '_' + rowData.key + '_not_assigned'
                  "
                  [attr.aria-label]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_0' | translate"
                  [pTooltip]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_0' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                </span>
              </div>
              <div *ngIf="myPermissions.includes('PERMISSION#GRANT')">
                <!-- not assigned -->
                <button
                  *ngIf="!rowData.roles[role.id]"
                  pbutton
                  type="button"
                  class="my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onAssignPermission($event, rowData, role)"
                  [id]="
                    'apm_app_detail_permission_table_' + row + '_' + role.name + '_' + rowData.key + '_not_assigned'
                  "
                  [ariaLabel]="('PERMISSION.ASSIGNMENTS.GRANT_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  [pTooltip]="('PERMISSION.ASSIGNMENTS.GRANT_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary text-lg font-medium p-button-icon pi pi-circle" aria-hidden="true"></span>
                </button>

                <!-- assigned -->
                <button
                  *ngIf="rowData.roles[role.id]"
                  pbutton
                  type="button"
                  class="my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onRemovePermission($event, rowData, role)"
                  [id]="'apm_app_detail_permission_table_' + row + '_' + role.name + '_' + rowData.key + '_assigned'"
                  [ariaLabel]="('PERMISSION.ASSIGNMENTS.REVOKE_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  [pTooltip]="('PERMISSION.ASSIGNMENTS.REVOKE_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span
                    class="text-primary text-lg font-medium p-button-icon pi pi-circle-fill"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ocx-page-content>
</ocx-portal-page>

<app-role-detail
  [currentApp]="currentApp"
  [roles]="roles"
  [role]="role"
  [changeMode]="changeMode"
  [showIamRolesDialog]="showIamRolesDialog"
  [displayDetailDialog]="showRoleDetailDialog"
  [displayDeleteDialog]="showRoleDeleteDialog"
  (dataChanged)="onDetailChanged($event)"
></app-role-detail>

<app-permission-detail
  [currentApp]="currentApp"
  [permissions]="permissions"
  [permission]="permission"
  [changeMode]="changeMode"
  [displayDetailDialog]="displayPermissionDetailDialog"
  [displayDeleteDialog]="displayPermissionDeleteDialog"
  (dataChanged)="onDetailChanged($event)"
></app-permission-detail>

<app-permission-export
  [products]="productNames"
  [listedProductsHeaderKey]="listedProductsHeaderKey"
  [(displayExportDialog)]="displayPermissionExportDialog"
></app-permission-export>
