<ocx-portal-page
  [applicationId]="'onecx-permission-ui'"
  [permission]="'APP#VIEW'"
  [helpArticleId]="'PAGE_PERMISSION_DETAIL'"
>
  <ocx-page-header
    [loading]="loading"
    [actions]="(actions$ | async) ?? []"
    [header]="loading ? '' : ('DIALOG.DETAIL.HEADER_' + currentApp.appType | translate) + currentApp.name"
    [subheader]="loading ? '' : ('DIALOG.DETAIL.SUBHEADER_' + currentApp.appType | translate)"
    [manualBreadcrumbs]="false"
  >
  </ocx-page-header>

  <ocx-page-content>
    <p-message
      *ngIf="loadingServerIssue"
      id="app_detail_permission_table_data_access_issue"
      severity="error"
      styleClass="m-3"
      [text]="loadingExceptionKey | translate"
    ></p-message>

    <ng-container *ngIf="!loadingServerIssue">
      <p-table
        #permissionTable
        id="app_detail_permission_table"
        styleClass="p-datatable-striped px-3"
        [columns]="roles"
        [value]="permissionRows"
        [globalFilterFields]="filterBy"
        [scrollable]="true"
        [paginator]="true"
        [alwaysShowPaginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 20, 50]"
        (onSort)="onSortPermissionTable()"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-wrap justify-content-between row-gap-1 p-1">
            <div class="flex align-items-center ml-1 gap-2">
              <div class="data-view-control opacity-90 text-sm">Quick<br />Filter</div>
              <p-selectButton
                inputid="app_detail_permission_table_quick_filter"
                styleClass="data-view-control opacity-90"
                [options]="quickFilterItems"
                [(ngModel)]="quickFilterValue"
                (onChange)="onQuickFilterChange($event)"
                title="{{ 'PERMISSION.SEARCH.FILTER.TOOLTIP' | translate }}"
              >
                <ng-template let-item>{{ item.label | translate }}</ng-template>
              </p-selectButton>
            </div>

            <div class="p-inputgroup p-inputgroup w-20rem sm:mx-3">
              <span
                id="app_detail_permission_table_filter_contains"
                class="p-inputgroup-addon text-lg font-bold text-center px-1 py-0 pseudo-selectbutton data-view-control-border"
                [class.p-highlight]="this.filterMode === 'contains'"
                (click)="onFilterModeChange('=')"
                [title]="'ACTIONS.SEARCH.FILTER.MODE_CONTAINS' | translate"
              >
                =
              </span>
              <span
                id="app_detail_permission_table_filter_not_contains"
                class="p-inputgroup-addon text-lg font-bold text-center px-1 py-0 pseudo-selectbutton data-view-control-border"
                [class.p-highlight]="this.filterMode === 'notContains'"
                (click)="onFilterModeChange('!=')"
                [title]="'ACTIONS.SEARCH.FILTER.MODE_NOT_CONTAINS' | translate"
              >
                !=
              </span>
              <span class="p-float-label">
                <input
                  #permissionTableFilterInput
                  id="app_detail_permission_table_filter"
                  pInputText
                  type="text"
                  class="py-0 data-view-control-border"
                  (input)="tableFilter($any($event.target).value)"
                  [title]="
                    ('ACTIONS.SEARCH.FILTER.OF' | translate) +
                    ('PERMISSION.RESOURCE' | translate) +
                    ', ' +
                    ('PERMISSION.ACTION' | translate)
                  "
                />
                <label for="app_detail_permission_table_filter">{{ 'ACTIONS.SEARCH.FILTER.LABEL' | translate }}</label>
              </span>
              <span
                id="app_detail_permission_table_filter_clear"
                class="p-inputgroup-addon bg-primary pseudo-button pi pi-filter-slash"
                (click)="onClearTableFilter()"
                [title]="'ACTIONS.SEARCH.FILTER.CLEAR' | translate"
              >
              </span>
            </div>
            <p-button
              *ngIf="permissionRows"
              id="app_detail_permission_table_reload_button"
              styleClass="h-full"
              [title]="'ACTIONS.SEARCH.RELOAD' | translate"
              (onClick)="onReload()"
              icon="pi pi-refresh"
            ></p-button>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <!-- 1. header row: classification -->
          <tr>
            <th
              [attr.colspan]="
                myPermissions.includes('PERMISSION#EDIT') || myPermissions.includes('PERMISSION#DELETE') ? 4 : 3
              "
              class="opacity-80 text-center"
              [class.border-right-primary]="!currentApp.isApp"
              [ngClass]="
                myPermissions.includes('PERMISSION#EDIT') || myPermissions.includes('PERMISSION#DELETE')
                  ? 'py-0'
                  : 'py-1'
              "
            >
              <div class="flex justify-content-evenly align-items-center">
                <div class="flex justify-content-center align-items-center">
                  <span class="inline-block font-bold">{{ 'PERMISSION.LABEL' | translate }} </span>
                </div>
              </div>
            </th>
            <th
              *ngIf="!currentApp.isApp"
              [attr.colspan]="roles ? roles.length : 0"
              class="py-0 opacity-80 text-center"
              [title]="'ROLE.TOOLTIP' | translate"
            >
              <div class="flex justify-content-center align-items-center">
                <span class="inline-block font-bold">{{ 'ROLE.LABEL.' + urlParamAppType | translate }}</span>
                <button
                  pbutton
                  type="button"
                  *ocxIfPermission="'ROLE#EDIT'"
                  [id]="'app_detail_permission_table_header_add_permission_action'"
                  (click)="onCreateRole($event)"
                  [title]="'ACTIONS.CREATE.ROLE' | translate"
                  class="p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-plus-circle" aria-hidden="true"></span>
                </button>
              </div>
            </th>
          </tr>

          <!-- 2. header row: permission and roles -->
          <tr>
            <th
              pSortableColumn="key"
              class="pt-2 pb-1 px-2 vertical-align-bottom border-bottom-primary white-space-nowrap"
            >
              {{ 'PERMISSION.KEY' | translate }}
              <p-sortIcon field="key"></p-sortIcon>
            </th>

            <th class="pt-2 pb-1 px-2 vertical-align-bottom border-bottom-primary white-space-nowrap">
              <label *ngIf="currentApp.isApp"> {{ 'PERMISSION.SEARCH.FILTER.PRODUCT' | translate }}</label>
              <div *ngIf="!currentApp.isApp" class="flex">
                <span #filterProduct class="p-float-label inline-block w-full">
                  <p-dropdown
                    id="app_detail_permission_table_filter_product_name"
                    styleClass="w-full"
                    [appendTo]="'body'"
                    [showClear]="true"
                    [options]="filterProductItems"
                    [(ngModel)]="filterProductValue"
                    (onChange)="permissionTable.filter($event.value, 'productName', 'equals')"
                    [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                    [title]="'PERMISSION.SEARCH.FILTER.PRODUCT.TOOLTIP' | translate"
                  ></p-dropdown>
                  <label for="app_detail_permission_table_filter_product_name">
                    {{ 'PERMISSION.SEARCH.FILTER.PRODUCT' | translate }}</label
                  >
                </span>
                <button
                  pbutton
                  type="button"
                  [id]="'app_detail_permission_table_sort_product_name'"
                  (click)="onFilterItemSortProduct($event, sortIconProduct)"
                  [title]="'PERMISSION.SORT.PRODUCT' | translate"
                  class="p-2 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                >
                  <span #sortIconProduct class="pi pi-fw pi-sort-alt"></span>
                </button>
              </div>
            </th>
            <th
              class="pt-2 pb-1 px-2 vertical-align-bottom border-bottom-primary white-space-nowrap"
              [class.border-right-primary]="!currentApp.isApp"
            >
              <span *ngIf="false" pSortableColumn="appId">
                {{ 'PERMISSION.SEARCH.FILTER.APPS' | translate }}
                <p-sortIcon field="appId"></p-sortIcon>
              </span>
              <div class="flex">
                <span #filterApp class="p-float-label inline-block w-full">
                  <p-dropdown
                    id="app_detail_permission_table_filter_app_id"
                    styleClass="w-full"
                    [appendTo]="'body'"
                    [showClear]="true"
                    [options]="filterAppItems"
                    [(ngModel)]="filterAppValue"
                    (onChange)="permissionTable.filter($event.value, 'appId', 'equals')"
                    (onClear)="onFilterItemClearAppId()"
                    [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                  ></p-dropdown>
                  <label for="app_detail_permission_table_filter_app_id">
                    {{ 'PERMISSION.SEARCH.FILTER.APPS' | translate }}</label
                  >
                </span>
                <button
                  pbutton
                  type="button"
                  [id]="'app_detail_permission_table_sort_app_id'"
                  (click)="onFilterItemSortAppId($event, sortIconAppId)"
                  [title]="'PERMISSION.SORT.APP_ID' | translate"
                  class="p-2 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                >
                  <span #sortIconAppId class="pi pi-fw pi-sort-alt"></span>
                </button>
              </div>
            </th>

            <!-- WORKSPACE ROLES (as part of tenant roles managed by IDM) -->
            <ng-container *ngIf="!currentApp.isApp">
              <th *ngFor="let role of columns" class="pt-2 pb-1 px-2 text-center border-bottom-primary">
                <div class="flex flex-column justify-content-between">
                  <div class="flex flex-row gap-1 justify-content-center white-space-nowrap">
                    <button
                      pbutton
                      type="button"
                      *ngIf="myPermissions.includes('ROLE#DELETE')"
                      [id]="'app_detail_permission_table_col_' + role.name + '_action_delete'"
                      (click)="onDeleteRole($event, role)"
                      [title]="'ACTIONS.DELETE.ROLE' | translate"
                      class="p-1 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    >
                      <span class="text-primary font-medium p-button-icon pi pi-trash" aria-hidden="true"></span>
                    </button>
                    <button
                      pbutton
                      type="button"
                      *ngIf="myPermissions.includes('ROLE#EDIT')"
                      [id]="'app_detail_permission_table_col_' + role.id + '_action_edit'"
                      (click)="onEditRole($event, role)"
                      [title]="'ACTIONS.EDIT.ROLE' | translate"
                      class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    >
                      <span class="text-primary font-medium p-button-icon pi pi-pencil" aria-hidden="true"></span>
                    </button>
                    <button
                      pbutton
                      type="button"
                      *ngIf="myPermissions.includes('PERMISSION#GRANT') && permissionTable.totalRecords > 0"
                      [id]="'app_detail_permission_table_col_' + role.id + '_action_grant_all'"
                      (click)="onGrantAllPermissions($event, role)"
                      [title]="'PERMISSION.ASSIGNMENTS.GRANT_ALL_FOR_ROLE' | translate"
                      class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    >
                      <span class="text-primary font-medium p-button-icon pi pi-circle-fill" aria-hidden="true"></span>
                    </button>
                    <button
                      pbutton
                      type="button"
                      *ngIf="myPermissions.includes('PERMISSION#GRANT') && permissionTable.totalRecords > 0"
                      [id]="'app_detail_permission_table_col_' + role.id + '_action_revoke_all'"
                      (click)="onRevokeAllPermissions($event, role)"
                      [title]="'PERMISSION.ASSIGNMENTS.REVOKE_ALL_FOR_ROLE' | translate"
                      class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    >
                      <span class="text-primary font-medium p-button-icon pi pi-circle" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div [title]="role.description ? role.description : ''">{{ role.name }}</div>
                </div>
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row="rowIndex" let-rowData let-columns="columns">
          <tr [id]="'app_detail_permission_table_row_' + row">
            <td
              class="text-left py-1 px-2 white-space-nowrap sm:white-space-normal"
              id="app_detail_permission_table_data_permission"
              [title]="rowData.description ? rowData.description : ''"
            >
              <strong>{{ rowData.resource }} </strong>#
              <strong>{{ rowData.action }} </strong>
              <div class="mt-1 text-xs">{{ limitText(rowData.description, 60) }}</div>
            </td>
            <td class="text-left px-2" id="app_detail_permission_table_data_product_name">{{ rowData.productName }}</td>
            <td *ngIf="false" class="text-left px-2" id="app_detail_permission_table_data_app_type">
              {{ rowData.appType }}
            </td>
            <td
              class="text-left px-2"
              [class.border-right-primary]="!currentApp.isApp"
              id="app_detail_permission_table_data_app_id"
            >
              {{ rowData.appId }}
            </td>
            <!-- ASSIGNMENTS -->
            <ng-container *ngIf="!currentApp.isApp">
              <td
                *ngFor="let role of columns"
                class="text-center"
                [id]="'app_detail_permission_table_data_' + role.name + '_' + rowData.key"
              >
                <!-- display only -->
                <div *ngIf="!myPermissions.includes('PERMISSION#GRANT')">
                  <span
                    *ngIf="rowData.roles[role.id]"
                    class="pi pi-circle-fill text-primary text-lg"
                    [title]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_1' | translate"
                  >
                  </span>
                  <span
                    *ngIf="!rowData.roles[role.id]"
                    class="pi pi-circle text-primary text-lg"
                    [title]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_0' | translate"
                  >
                  </span>
                </div>

                <div *ngIf="myPermissions.includes('PERMISSION#GRANT')">
                  <!-- not assigned -->
                  <button
                    pbutton
                    type="button"
                    *ngIf="!rowData.roles[role.id]"
                    (click)="onAssignPermission($event, rowData, role)"
                    [title]="'PERMISSION.ASSIGNMENTS.ROLE_ASSIGNEMENT_CHANGEABLE' | translate"
                    class="my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  >
                    <span class="text-primary text-lg font-medium p-button-icon pi pi-circle" aria-hidden="true"></span>
                  </button>

                  <!-- assigned -->
                  <button
                    pbutton
                    type="button"
                    *ngIf="rowData.roles[role.id]"
                    (click)="onRemovePermission($event, rowData, role)"
                    [title]="'PERMISSION.ASSIGNMENTS.ROLE_ASSIGNEMENT_CHANGEABLE' | translate"
                    class="my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  >
                    <span
                      class="text-primary text-lg font-medium p-button-icon pi pi-circle-fill"
                      aria-hidden="true"
                    ></span>
                  </button>
                </div>
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </ocx-page-content>
</ocx-portal-page>

<app-role-detail
  [currentApp]="currentApp"
  [roles]="roles"
  [role]="role"
  [changeMode]="changeMode"
  [displayDetailDialog]="showRoleDetailDialog"
  [displayDeleteDialog]="showRoleDeleteDialog"
  (dataChanged)="onRoleChanged($event)"
></app-role-detail>
