@use 'src/app/apm-mixins' as *;

@include danger-action;
@include word-break-all;
@include ocx-text-responsive;
@include ocx-p-floatlabel;
@include ocx-content;
@include ocx-p-message;
@include ocx-p-inputgroup;
@include table-zebra-rows;
@include table-inline-buttons;
@include table-responsive-columns;
@include listbox-zebra-rows;

:host ::ng-deep {
  // Fix hover color
  #apm_app_detail_permission_table_filter_clear > button {
    &:not(:disabled):hover {
      background: var(--onecx-permission-onecx-permission-ui-button-primary-hover-background) !important;
    }
  }

  .button-letter-icon {
    padding: 1px 4px !important;
  }

  .p-select {
    &.clear-icon-used .p-inputtext {
      padding-right: 2rem;
    }
    .p-inputtext {
      padding: 0.6rem;
    }
  }

  .p-datatable {
    .p-datatable-header {
      border: none;
      border-radius: 0;
      padding: 0.5rem;
      margin-bottom: 0.25rem;
    }
    .p-datatable-thead > tr > th:last-of-type,
    .p-datatable-tbody > tr > td:last-of-type {
      border-right: unset;
    }
    .p-datatable-tbody > tr > td {
      padding: 0 0.5rem;
      height: 3rem;
    }
  }

  .app-detail-product-filter {
    min-width: 13rem;
  }

  .text-ellipsis-3-lines {
    @include displaying-text-ellipsis(3);
  }

  @media screen and (max-width: 576px) {
    &.xs\:w-6rem {
      width: 6rem !important;
    }
  }
}
