@import '/src/_mixins.scss';

@include correct-data-view-control;
@include correct-select-button;
@include table-inline-buttons;
@include compact-dropdown-list-items;
@include danger-action;

:host ::ng-deep {
  .p-datatable .p-datatable-header {
    padding-left: 0;
    padding-right: 0;
    border: unset;
  }
  .button-letter-icon {
    padding: 1px 4px !important;
  }
  .border-right-primary {
    border-right-color: var(--primary-color) !important;
    border-right-width: 4px !important;
    border-right-style: double !important;
  }
  .border-bottom-primary {
    border-bottom-color: var(--primary-color) !important;
    border-bottom-width: 2px !important;
  }
  .p-inputtext.middle-of-inputgroup {
    border-left: 0;
    border-right: 0;
  }
  .p-dropdown {
    &.clear-icon-used .p-inputtext {
      padding-right: 2rem;
    }
    .p-inputtext {
      padding: 0.6rem;
    }
  }
  .pseudo-button:hover {
    background: var(--button-hover-bg) !important;
    cursor: pointer;
  }
  .pseudo-selectbutton {
    cursor: pointer;
    background: var(--toggle-button-bg);
    &:hover {
      background: var(--toggle-button-hover-bg);
    }
    &.p-highlight {
      background: var(--toggle-button-active-bg);
      &:hover {
        background: var(--toggle-button-active-hover-bg);
      }
    }
  }
}
