<ocx-portal-page permission="APP#VIEW" helpArticleId="PAGE_PERMISSION_DETAIL">
  <ocx-page-header
    [loading]="loading"
    [actions]="(actions$ | async) ?? []"
    [header]="loading ? '' : ('DIALOG.DETAIL.HEADER_' + currentApp.appType | translate) + currentApp.name"
    [subheader]="loading ? '' : ('DIALOG.DETAIL.SUBHEADER_' + currentApp.appType | translate)"
    [manualBreadcrumbs]="false"
  >
  </ocx-page-header>

  <ocx-page-content>
    <p-message
      *ngIf="loadingExceptionKey"
      id="pm_app_detail_permission_table_data_access_issue"
      severity="error"
      styleClass="m-3"
      [text]="loadingExceptionKey | translate"
    ></p-message>

    <ng-container *ngIf="!loadingExceptionKey">
      <p-table
        #permissionTable
        id="pm_app_detail_permission_table"
        styleClass="px-3"
        [columns]="roles"
        [value]="permissionRows"
        [globalFilterFields]="filterBy"
        [scrollable]="true"
        [paginator]="true"
        [alwaysShowPaginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 30, 100, 1000]"
        (onSort)="onSortPermissionTable()"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-wrap justify-content-between row-gap-1 p-1">
            <div class="flex align-items-center sm:ml-1 gap-1">
              <div
                class="slim-selectbutton align-items-start filter-selectbutton"
                [pTooltip]="'DIALOG.DETAIL.QUICK_FILTER.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <p-selectButton
                  inputid="pm_app_detail_permission_table_quick_filter"
                  styleClass="data-view-control"
                  [options]="quickFilterItems"
                  [(ngModel)]="quickFilterValue"
                  (onChange)="onQuickFilterChange($event)"
                >
                  <ng-template let-item pTemplate
                    ><span [id]="'pm_app_detail_quick_filter_' + item.value">
                      {{ item.label | translate }}</span
                    ></ng-template
                  >
                </p-selectButton>
                <div class="p-selectbutton-subtitle opacity-80">
                  {{ 'DIALOG.DETAIL.QUICK_FILTER.LABEL' | translate }}
                </div>
              </div>
            </div>

            <div class="p-inputgroup p-inputgroup w-20rem sm:mx-3">
              <a
                tabindex="0"
                id="pm_app_detail_permission_table_filter_contains"
                class="p-inputgroup-addon text-lg font-bold text-center px-1 py-0 pseudo-selectbutton data-view-control-border"
                [class.p-highlight]="this.filterMode === 'contains'"
                (click)="onFilterModeChange('=')"
                [pTooltip]="'ACTIONS.SEARCH.FILTER.MODE_CONTAINS' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                =
              </a>
              <a
                tabindex="0"
                id="pm_app_detail_permission_table_filter_not_contains"
                class="p-inputgroup-addon text-lg font-bold text-center px-1 py-0 pseudo-selectbutton data-view-control-border"
                [class.p-highlight]="this.filterMode === 'notContains'"
                (click)="onFilterModeChange('!=')"
                [pTooltip]="'ACTIONS.SEARCH.FILTER.MODE_NOT_CONTAINS' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                !=
              </a>
              <span class="p-float-label">
                <input
                  #permissionTableFilterInput
                  id="pm_app_detail_permission_table_filter"
                  pInputText
                  type="text"
                  class="py-0 data-view-control-border"
                  (input)="tableFilter($any($event.target).value)"
                  [pTooltip]="
                    ('ACTIONS.SEARCH.FILTER.OF' | translate) +
                    ('PERMISSION.RESOURCE' | translate) +
                    ', ' +
                    ('PERMISSION.ACTION' | translate)
                  "
                  tooltipPosition="top"
                  tooltipEvent="hover"
                />
                <label for="pm_app_detail_permission_table_filter">
                  {{ 'ACTIONS.SEARCH.FILTER.LABEL' | translate }}</label
                >
              </span>
              <a
                tabindex="0"
                id="pm_app_detail_permission_table_filter_clear"
                class="p-inputgroup-addon bg-primary pseudo-button pi pi-filter-slash"
                (click)="onClearTableFilter()"
                [pTooltip]="'ACTIONS.SEARCH.FILTER.CLEAR' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </a>
            </div>
            <p-button
              id="pm_app_detail_permission_table_reload_button"
              styleClass="h-full"
              icon="pi pi-refresh"
              (onClick)="onReload()"
              ariaLabel="'ACTIONS.SEARCH.RELOAD' | translate"
              [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-button>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <!-- 1. header row -->
          <tr>
            <th
              pFrozenColumn
              id="pm_app_detail_permission_table_header_permissions"
              [attr.colspan]="!showPermissionTools ? 3 : protectedAssignments.length === 0 ? 4 : 5"
              class="text-center border-right-primary"
              [ngClass]="
                myPermissions.includes('PERMISSION#EDIT') || myPermissions.includes('PERMISSION#DELETE')
                  ? 'py-0'
                  : 'py-1'
              "
            >
              <div class="flex justify-content-evenly align-items-center">
                <div class="flex justify-content-center align-items-center column-gap-2 opacity-80">
                  <span class="p-2 inline-block font-bold">{{ 'PERMISSION.LABEL' | translate }} </span>
                  <button
                    pbutton
                    type="button"
                    *ngIf="myPermissions.includes('PERMISSION#MANAGE')"
                    [id]="'apm_application_detail_permission_table_header_permission_tools'"
                    class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    (click)="showPermissionTools = !showPermissionTools"
                    [aria-label]="'ACTIONS.VIEW.PERMISSION.TOOLS' | translate"
                    [pTooltip]="'ACTIONS.VIEW.PERMISSION.TOOLS' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span class="text-primary font-medium p-button-icon pi pi-cog" aria-hidden="true"></span>
                  </button>
                  <button
                    pbutton
                    type="button"
                    *ngIf="showPermissionTools"
                    [id]="'apm_application_detail_permission_table_header_permission_create'"
                    class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    (click)="onCreatePermission()"
                    [aria-label]="'ACTIONS.CREATE.PERMISSION' | translate"
                    [pTooltip]="'ACTIONS.CREATE.PERMISSION' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span class="text-primary font-medium p-button-icon pi pi-plus-circle" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </th>
            <th
              id="pm_app_detail_permission_table_header_roles"
              [attr.colspan]="roles ? roles.length : 0"
              class="py-0 text-center"
            >
              <div class="flex justify-content-center align-items-center column-gap-2 opacity-80">
                <span
                  class="p-2 inline-block font-bold"
                  [aria-label]="'ROLE.LABEL' | translate"
                  [pTooltip]="'ROLE.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  >{{ 'ROLE.LABEL' | translate }}</span
                >
                <button
                  pbutton
                  type="button"
                  *ngIf="myPermissions.includes('ROLE#MANAGE')"
                  [id]="'pm_application_detail_permission_table_header_permission_tools'"
                  class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="showRoleTools = !showRoleTools"
                  [aria-label]="'ACTIONS.VIEW.ROLE.TOOLS' | translate"
                  [pTooltip]="'ACTIONS.VIEW.ROLE.TOOLS' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-cog" aria-hidden="true"></span>
                </button>
                <button
                  pbutton
                  type="button"
                  *ngIf="myPermissions.includes('ROLE#CREATE') && showRoleTools"
                  [id]="'pm_app_detail_permission_table_header_add_role_action'"
                  class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onCreateRole($event)"
                  [aria-label]="'ACTIONS.CREATE.ROLE' | translate"
                  [pTooltip]="'ACTIONS.CREATE.ROLE.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-plus-circle" aria-hidden="true"></span>
                </button>
                <button
                  pbutton
                  type="button"
                  *ngIf="myPermissions.includes('ROLE#CREATE') && showRoleTools"
                  [id]="'pm_app_detail_permission_table_header_add_iam_roles_action'"
                  class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onAddIAMRoles($event)"
                  [aria-label]="'ACTIONS.CREATE.IAM_ROLES' | translate"
                  [pTooltip]="'ACTIONS.CREATE.IAM_ROLES.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-bolt" aria-hidden="true"></span>
                </button>
                <div *ngIf="missingWorkspaceRoles">
                  <button
                    pbutton
                    type="button"
                    *ngIf="myPermissions.includes('ROLE#CREATE') && showRoleTools"
                    [id]="'pm_app_detail_permission_table_header_add_workspace_roles_action'"
                    class="p-1 p-button-rounded p-button p-component p-button-icon-only button-letter-icon"
                    (click)="onCreateWorkspaceRoles($event)"
                    [aria-label]="'ACTIONS.CREATE.WORKSPACE_ROLES.TOOLTIP' | translate"
                    [pTooltip]="'ACTIONS.CREATE.WORKSPACE_ROLES.TOOLTIP' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span class="text-sm p-button-icon letter-icon" aria-hidden="true">w</span>
                  </button>
                </div>
              </div>
            </th>
          </tr>

          <!-- 2. header row: permission filter and role management -->
          <tr>
            <ng-container *ngIf="showPermissionTools">
              <th
                pFrozenColumn
                id="pm_app_detail_permission_table_header_actions"
                class="pt-2 pb-1 vertical-align-bottom border-bottom-primary text-center"
              >
                {{ 'PERMISSION.ACTIONS' | translate }}
              </th>
              <th
                pFrozenColumn
                *ngIf="protectedAssignments.length > 0"
                class="pt-2 pb-1 vertical-align-bottom border-bottom-primary"
              >
                <span
                  class="pi pi-exclamation-circle"
                  aria-hidden="true"
                  [pTooltip]="'PERMISSION.MANDATORY.COLUMN' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></span>
              </th>
            </ng-container>
            <th
              pFrozenColumn
              pSortableColumn="key"
              id="pm_app_detail_permission_table_header_permission_key"
              class="pt-2 pb-1 px-2 vertical-align-bottom border-bottom-primary white-space-nowrap"
            >
              {{ 'PERMISSION.KEY' | translate }}
              <p-sortIcon field="key"></p-sortIcon>
            </th>
            <th
              pFrozenColumn
              id="pm_app_detail_permission_table_header_permission_filter_product"
              class="pt-2 pb-1 px-2 vertical-align-bottom border-bottom-primary white-space-nowrap"
            >
              <div *ngIf="currentApp.isProduct">{{ 'DIALOG.DETAIL.FILTER.PRODUCT' | translate }}</div>
              <div *ngIf="!currentApp.isProduct" class="flex">
                <span #filterProduct class="p-float-label inline-block">
                  <p-dropdown
                    id="pm_app_detail_permission_table_filter_product_name"
                    styleClass="w-full clear-icon-used"
                    [appendTo]="'body'"
                    [showClear]="true"
                    [options]="filterProductItems"
                    [(ngModel)]="filterProductValue"
                    (onChange)="onFilterItemChangeProduct($event)"
                    [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                    [pTooltip]="'DIALOG.DETAIL.FILTER.PRODUCT.TOOLTIP' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  ></p-dropdown>
                  <label for="pm_app_detail_permission_table_filter_product_name">
                    {{ 'DIALOG.DETAIL.FILTER.PRODUCT' | translate }}</label
                  >
                </span>
                <button
                  pbutton
                  type="button"
                  [id]="'app_detail_permission_table_sort_product_name'"
                  class="p-2 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onFilterItemSortIcon($event, sortIconProduct, 'product')"
                  [pTooltip]="'PERMISSION.SORT.PRODUCT' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span #sortIconProduct class="pi pi-fw pi-sort-alt"></span>
                </button>
              </div>
            </th>
            <th
              pFrozenColumn
              id="pm_app_detail_permission_table_header_permission_filter_app_id"
              class="pt-2 pb-1 px-2 vertical-align-bottom border-bottom-primary white-space-nowrap border-right-primary"
            >
              <div class="flex">
                <span #filterApp class="p-float-label inline-block">
                  <p-dropdown
                    id="pm_app_detail_permission_table_filter_app_id"
                    styleClass="w-full clear-icon-used"
                    [appendTo]="'body'"
                    [showClear]="true"
                    [options]="filterAppItems"
                    [(ngModel)]="filterAppValue"
                    (onChange)="permissionTable.filter($event.value, 'appId', 'equals')"
                    (onClear)="onFilterItemClearAppId()"
                    [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                    [pTooltip]="'DIALOG.DETAIL.FILTER.APPS.TOOLTIP' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  ></p-dropdown>
                  <label for="pm_app_detail_permission_table_filter_app_id">
                    {{ 'DIALOG.DETAIL.FILTER.APPS' | translate }}</label
                  >
                </span>
                <button
                  pbutton
                  type="button"
                  [id]="'app_detail_permission_table_sort_app_id'"
                  class="p-2 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onFilterItemSortIcon($event, sortIconAppId, 'appId')"
                  [aria-label]="'PERMISSION.SORT.APP_ID' | translate"
                  [pTooltip]="'PERMISSION.SORT.APP_ID' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span #sortIconAppId class="pi pi-fw pi-sort-alt"></span>
                </button>
              </div>
            </th>

            <!-- ROLES (actually managed by IDM, duplicated to manage permission assignments) -->
            <th
              id="pm_app_detail_permission_table_header_roles"
              *ngFor="let role of columns"
              class="pt-2 pb-1 px-2 text-center border-bottom-primary vertical-align-top"
            >
              <div class="flex flex-row gap-1 justify-content-center align-items-center white-space-nowrap">
                <ng-container *ngIf="showRoleTools">
                  <span
                    *ngIf="role.mandatory"
                    class="danger-action-text pi pi-lock"
                    aria-hidden="true"
                    [pTooltip]="'ROLE.MANDATORY' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  ></span>
                  <button
                    pbutton
                    type="button"
                    *ngIf="!role.mandatory && myPermissions.includes('ROLE#DELETE')"
                    [id]="'app_detail_permission_table_col_' + role.name + '_action_delete'"
                    class="p-1 mr-0 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    (click)="onDeleteRole($event, role)"
                    [aria-label]="'ACTIONS.DELETE.ROLE' | translate"
                    [pTooltip]="'ACTIONS.DELETE.ROLE' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span class="text-primary font-medium p-button-icon pi pi-trash" aria-hidden="true"></span>
                  </button>
                  <button
                    pbutton
                    type="button"
                    *ngIf="!role.mandatory && myPermissions.includes('ROLE#EDIT')"
                    [id]="'app_detail_permission_table_col_' + role.id + '_action_edit'"
                    class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    (click)="onEditRole($event, role)"
                    [aria-label]="'ACTIONS.EDIT.ROLE' | translate"
                    [pTooltip]="'ACTIONS.EDIT.ROLE' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span class="text-primary font-medium p-button-icon pi pi-pencil" aria-hidden="true"></span>
                  </button>
                </ng-container>
                <button
                  pbutton
                  type="button"
                  *ngIf="myPermissions.includes('PERMISSION#GRANT') && permissionTable.totalRecords > 0"
                  [id]="'app_detail_permission_table_col_' + role.id + '_action_grant_all'"
                  class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onGrantAllPermissions($event, role)"
                  [aria-label]="'PERMISSION.ASSIGNMENTS.GRANT_ALL_FOR_ROLE' | translate"
                  [pTooltip]="'PERMISSION.ASSIGNMENTS.GRANT_ALL_FOR_ROLE' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-circle-fill" aria-hidden="true"></span>
                </button>
                <button
                  pbutton
                  type="button"
                  *ngIf="myPermissions.includes('PERMISSION#GRANT') && permissionTable.totalRecords > 0"
                  [id]="'app_detail_permission_table_col_' + role.id + '_action_revoke_all'"
                  class="p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onRevokeAllPermissions($event, role)"
                  [aria-label]="'PERMISSION.ASSIGNMENTS.REVOKE_ALL_FOR_ROLE' | translate"
                  [pTooltip]="'PERMISSION.ASSIGNMENTS.REVOKE_ALL_FOR_ROLE' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-circle" aria-hidden="true"></span>
                </button>
              </div>
              <div
                [class.word-break-all]="role.name.length > 15"
                [pTooltip]="role.description ? role.description : ''"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ role.name + (role.isWorkspaceRole ? ' (w)' : '') }}
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row="rowIndex" let-rowData let-columns="columns">
          <tr [id]="'app_detail_permission_table_row_' + row">
            <ng-container *ngIf="showPermissionTools">
              <td
                pFrozenColumn
                id="pm_app_detail_permission_table_header_actions"
                class="pt-2 pb-1 px-2 white-space-nowrap text-center"
              >
                <button
                  pbutton
                  type="button"
                  *ngIf="myPermissions.includes('PERMISSION#EDIT')"
                  [id]="'app_detail_permission_table_row_' + row + '_edit_action'"
                  class="mr-1 my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onDetailPermission($event, rowData)"
                  [aria-label]="(rowData.mandatory ? 'ACTIONS.VIEW' : 'ACTIONS.EDIT') + '.PERMISSION' | translate"
                  [pTooltip]="(rowData.mandatory ? 'ACTIONS.VIEW' : 'ACTIONS.EDIT') + '.PERMISSION' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span
                    class="text-primary font-medium p-button-icon pi"
                    [class.pi-eye]="rowData.mandatory"
                    [class.pi-pencil]="!rowData.mandatory"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  pbutton
                  type="button"
                  *ngIf="myPermissions.includes('PERMISSION#EDIT')"
                  [id]="'app_detail_permission_table_row_' + row + '_copy_action'"
                  class="mr-1 my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onCopyPermission($event, rowData)"
                  [aria-label]="'ACTIONS.COPY.PERMISSION' | translate"
                  [pTooltip]="'ACTIONS.COPY.PERMISSION' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-copy" aria-hidden="true"></span>
                </button>
                <button
                  pbutton
                  type="button"
                  *ngIf="myPermissions.includes('PERMISSION#DELETE')"
                  [id]="'app_detail_permission_table_row_' + row + '_delete_action'"
                  class="my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                  (click)="onDeletePermission($event, rowData)"
                  [disabled]="rowData.mandatory"
                  [aria-label]="'ACTIONS.DELETE.PERMISSION' | translate"
                  [pTooltip]="'ACTIONS.DELETE.PERMISSION' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="danger-action-text font-medium p-button-icon pi pi-trash" aria-hidden="true"></span>
                </button>
              </td>
              <td pFrozenColumn *ngIf="protectedAssignments.length > 0">
                <span
                  *ngIf="rowData.mandatory"
                  class="pi pi-lock"
                  aria-hidden="true"
                  [pTooltip]="'PERMISSION.MANDATORY.COLUMN.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></span>
              </td>
            </ng-container>
            <td pFrozenColumn id="pm_app_detail_permission_table_data_permission_key" class="p-2">
              <div class="font-bold text-sm sm:text-base">{{ rowData.resource }} # {{ rowData.action }}</div>
              <div class="mt-1 text-xs hidden sm:block">{{ rowData.description }}</div>
            </td>
            <td pFrozenColumn id="pm_app_detail_permission_table_data_product_name" class="p-2">
              <div class="text-sm sm:text-base">{{ rowData.productDisplayName }}</div>
              <div class="hidden sm:block mt-1 text-xs">{{ rowData.productName }}</div>
            </td>
            <td pFrozenColumn id="pm_app_detail_permission_table_data_app_id" class="p-2 border-right-primary">
              <div class="text-sm sm:text-base">{{ rowData.appDisplayName }}</div>
              <div class="hidden sm:block mt-1 text-xs">{{ rowData.appId }}</div>
            </td>
            <!-- ASSIGNMENTS -->
            <td
              *ngFor="let role of columns"
              class="text-center p-2"
              [id]="'app_detail_permission_table_data_' + role.name + '_' + rowData.key"
            >
              <!-- mandatory = display only -->
              <div *ngIf="protectedAssignments.includes(rowData.roles[role.id])">
                <span
                  *ngIf="rowData.roles[role.id]"
                  class="text-primary pi pi-lock"
                  [pTooltip]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_1.MANDATORY' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                </span>
              </div>
              <!-- not mandatory = display depending on permissions -->
              <ng-container *ngIf="!protectedAssignments.includes(rowData.roles[role.id])">
                <div *ngIf="!myPermissions.includes('PERMISSION#GRANT')">
                  <span
                    *ngIf="rowData.roles[role.id]"
                    class="text-primary text-lg pi pi-circle-fill"
                    [pTooltip]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_1' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                  </span>
                  <span
                    *ngIf="!rowData.roles[role.id]"
                    class="text-primary text-lg pi pi-circle"
                    [pTooltip]="'PERMISSION.ASSIGNMENTS.ROLE_IS_ASSIGNED_0' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                  </span>
                </div>
                <div *ngIf="myPermissions.includes('PERMISSION#GRANT')">
                  <!-- not assigned -->
                  <button
                    pbutton
                    type="button"
                    *ngIf="!rowData.roles[role.id]"
                    class="my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    (click)="onAssignPermission($event, rowData, role)"
                    [aria-label]="'PERMISSION.ASSIGNMENTS.ROLE_ASSIGNEMENT_CHANGEABLE' | translate"
                    [pTooltip]="'PERMISSION.ASSIGNMENTS.ROLE_ASSIGNEMENT_CHANGEABLE' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span class="text-primary text-lg font-medium p-button-icon pi pi-circle" aria-hidden="true"></span>
                  </button>

                  <!-- assigned -->
                  <button
                    pbutton
                    type="button"
                    *ngIf="rowData.roles[role.id]"
                    class="my-0 p-1 p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                    (click)="onRemovePermission($event, rowData, role)"
                    [aria-label]="'PERMISSION.ASSIGNMENTS.ROLE_ASSIGNEMENT_CHANGEABLE' | translate"
                    [pTooltip]="'PERMISSION.ASSIGNMENTS.ROLE_ASSIGNEMENT_CHANGEABLE' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span
                      class="text-primary text-lg font-medium p-button-icon pi pi-circle-fill"
                      aria-hidden="true"
                    ></span>
                  </button>
                </div>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </ocx-page-content>
</ocx-portal-page>

<app-role-detail
  [currentApp]="currentApp"
  [roles]="roles"
  [role]="role"
  [changeMode]="changeMode"
  [showIamRolesDialog]="showIamRolesDialog"
  [displayDetailDialog]="showRoleDetailDialog"
  [displayDeleteDialog]="showRoleDeleteDialog"
  (dataChanged)="onDetailChanged($event)"
></app-role-detail>

<app-permission-detail
  [currentApp]="currentApp"
  [permissions]="permissions"
  [permission]="permission"
  [changeMode]="changeMode"
  [displayDetailDialog]="showPermissionDetailDialog"
  [displayDeleteDialog]="showPermissionDeleteDialog"
  (dataChanged)="onDetailChanged($event)"
></app-permission-detail>
