@import '/src/app/_apm-mixins.scss';

@include correct-data-view-control;
@include correct-select-button;
@include search-criteria-select-button;
@include search-criteria-select-button-slim;
@include search-criteria-select-button-filter;
@include table-inline-buttons;
@include compact-dropdown-list-items;
@include danger-action;
@include prepare-inputgroup;
@include dataview-list-zebra-rows;

:host ::ng-deep {
  .word-break-all {
    word-break: break-all;
  }
  .p-datatable {
    .p-datatable-wrapper {
      margin-top: 0.5rem;
    }
    .p-datatable-thead > tr:first-of-type > th {
      border-bottom: unset;
    }
  }
  .button-letter-icon {
    padding: 1px 4px !important;
  }
  .border-right-primary {
    border-right-color: var(--primary-color) !important;
    border-right-width: 2px !important;
    //border-right-style: double !important;
  }
  .border-bottom-primary {
    border-bottom-color: var(--primary-color) !important;
    border-bottom-width: 2px !important;
  }
  .p-inputtext.middle-of-inputgroup {
    border-left: 0;
    border-right: 0;
  }
  .p-dropdown {
    &.clear-icon-used .p-inputtext {
      padding-right: 2rem;
    }
    .p-inputtext {
      padding: 0.6rem;
    }
  }
  .pseudo-selectbutton {
    cursor: pointer;
    background: var(--toggle-button-bg);
    &:hover {
      background: var(--toggle-button-hover-bg);
    }
    &.p-highlight {
      background: var(--toggle-button-active-bg);
      &:hover {
        background: var(--toggle-button-active-hover-bg);
      }
    }
  }
}
