@import '/src/_mixins.scss';

@include correct-data-view-control;
@include correct-search-criteria;
@include correct-select-button;
@include search-criteria-select-button;
@include card-badges;
@include displaying-text-responsive;
@include media-queries;

:host ::ng-deep {
  .card-badge-right.badge-2-1 {
    top: 20px;
  }
}
