<ocx-portal-page permission="APP#SEARCH" helpArticleId="PAGE_PERMISSION_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
  >
    <form
      [formGroup]="appSearchCriteria"
      class="flex flex-wrap flex-row gap-4 row-gap-3 md:px-2"
      [attr.aria-label]="'DIALOG.SEARCH.CRITERIA' | translate"
    >
      <div class="flex flex-wrap flex-row align-items-center gap-2">
        <section
          class="slim-selectbutton search-criteria-selectbutton"
          [attr.aria-label]="'DIALOG.SEARCH.QUICK_FILTER.LABEL' | translate"
          [pTooltip]="'DIALOG.SEARCH.QUICK_FILTER.LABEL' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          <p-selectButton
            inputid="apm_app_search_criteria_app_type"
            formControlName="appType"
            [options]="(appTypeItems$ | async) ?? []"
            (onChange)="onAppTypeCriteriaChange($event)"
            [allowEmpty]="false"
            [ariaLabel]="'DIALOG.SEARCH.FILTER.TOOLTIP' | translate"
          >
            <ng-template let-item pTemplate>
              <span [id]="'apm_app_search_criteria_app_type_' + item.value"> {{ item.label }}</span>
            </ng-template>
          </p-selectButton>
          <div class="p-selectbutton-subtitle flex flex-row flex-nowrap column-gap-3 opacity-90" aria-hidden="true">
            <span> {{ 'DIALOG.SEARCH.FILTER.LABEL' | translate }}: </span>
            <span> {{ 'DIALOG.SEARCH.QUICK_FILTER.' + appSearchCriteria.controls['appType'].value | translate }}</span>
          </div>
        </section>
      </div>
      <div>
        <p-floatlabel variant="on">
          <input
            id="apm_app_search_criteria_name"
            pInputText
            type="text"
            formControlName="name"
            class="w-15rem"
            [attr.aria-label]="'APP.SEARCH.NAME.TOOLTIP' | translate"
            [pTooltip]="'APP.SEARCH.NAME.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="apm_app_search_criteria_name" aria-hidden="true">{{ 'APP.SEARCH.NAME' | translate }}</label>
        </p-floatlabel>
      </div>
    </form>
  </ocx-search-header>

  <ocx-content *ngIf="(filteredApps$ | async) ?? [] as applications">
    <div *ngIf="exceptionKey" class="m-3 flex flex-wrap justify-content-between align-items-center">
      <p-message id="apm_app_search_exception" severity="error" [text]="exceptionKey | translate"></p-message>
      <p-button
        id="apm_app_search_action_reload"
        icon="pi pi-refresh"
        (onClick)="onSearch()"
        [ariaLabel]="'ACTIONS.SEARCH.RELOAD' | translate"
        [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
    <p-message
      *ngIf="loading"
      id="apm_app_search_loading"
      severity="info"
      styleClass="m-3"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>

    <div *ngIf="!(loading || exceptionKey)" class="py-2 px-3">
      <section
        [attr.aria-label]="
          ('DIALOG.SEARCH.RESULTS' | translate) + ': ' + ('DIALOG.SEARCH.QUICK_FILTER.PRODUCT' | translate)
        "
      >
        <ocx-interactive-data-view
          id="apm_app_search_dataview"
          [data]="applications"
          [listGridPaginator]="true"
          [pageSizes]="[20, 40, 100]"
          [pageSize]="20"
          [supportedViewLayouts]="['grid']"
          [layout]="'grid'"
          [columns]="columnTypes"
          [displayedColumnKeys]="['displayName', 'appType', 'appId']"
          [clientSideSorting]="true"
          [clientSideFiltering]="true"
          [emptyResultsMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
          [sortDirection]="sortDirection"
          [sortField]="sortField"
          [filters]="(filters$ | async) ?? []"
          (sorted)="onSortChange($event)"
        >
          <ng-template #topCenter>
            <div class="app-search-top-center">
              <section
                class="app-search-quickfilter slim-selectbutton align-items-start search-criteria-selectbutton"
                [attr.aria-label]="'DIALOG.SEARCH.QUICK_FILTER.LABEL' | translate"
                [pTooltip]="'DIALOG.SEARCH.QUICK_FILTER.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <p-selectButton
                  inputid="apm_app_search_quick_filter"
                  [options]="(quickFilterItems$ | async) ?? []"
                  [(ngModel)]="quickFilterValue"
                  [allowEmpty]="false"
                  (onChange)="onQuickFilterChange($event)"
                  [ariaLabel]="'DIALOG.SEARCH.QUICK_FILTER.TOOLTIP' | translate"
                >
                  <ng-template let-item pTemplate>
                    <span [id]="'apm_app_search_quick_filter_' + item.value"> {{ item.label }}</span>
                  </ng-template>
                </p-selectButton>
              </section>

              <div class="app-search-filterbox">
                <p-inputgroup class="w-auto">
                  <p-inputgroup-addon>
                    <i class="pi pi-filter" aria-hidden="true"></i>
                  </p-inputgroup-addon>
                  <p-floatlabel variant="on">
                    <input
                      #dvFilterInput
                      id="apm_app_search_filter"
                      type="text"
                      pInputText
                      [value]="filterText"
                      (input)="onGlobalFilter(dvFilterInput.value)"
                      [pTooltip]="'ACTIONS.SEARCH.FILTER.OF' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                      [attr.aria-label]="'ACTIONS.SEARCH.FILTER.OF' | translate"
                    />
                    <label for="apm_app_search_filter" aria-hidden="true">
                      {{ 'ACTIONS.SEARCH.FILTER.LABEL' | translate }}
                    </label>
                  </p-floatlabel>
                  <p-button
                    icon="pi pi-filter-slash"
                    (onClick)="dvFilterInput.value = ''; onClearGlobalFilter()"
                    [attr.aria-label]="'ACTIONS.SEARCH.FILTER.CLEAR' | translate"
                  />
                </p-inputgroup>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="gridItem" let-item>
            <div class="col-6 md:col-4 lg:col-4 xl:col-3 p-1">
              <p-card
                styleClass="cursor-pointer hover:bg-gray-200 text-center"
                [attr.aria-label]="item.appType === 'WORKSPACE' ? item.displayName : item.productName"
                (click)="onAppClick(item)"
                (keydown.enter)="onAppClick(item)"
                (keydown.space)="$event.preventDefault(); onAppClick(item)"
                role="button"
                tabindex="0"
              >
                <div
                  class="font-bold text-sm md:text-base lg:text-lg text-responsive"
                  [attr.aria-label]="item.appType === 'WORKSPACE' ? item.displayName : item.productName"
                >
                  {{ item.appType === 'WORKSPACE' ? item.displayName : item.productName }}
                </div>
                <app-ocx-chip
                  class="py-1"
                  [styleClass]="item.appType === 'WORKSPACE' ? 'bg-primary' : ''"
                  [label]="'APP.TYPE_'.concat(item.appType) | translate"
                  [title]="'APP.TYPE_'.concat(item.appType) + '.TOOLTIP' | translate"
                />
              </p-card>
            </div>
          </ng-template>
        </ocx-interactive-data-view>
      </section>
    </div>
  </ocx-content>
</ocx-portal-page>

<!-- IMPORT -->
<p-dialog
  [header]="'ACTIONS.IMPORT.ASSIGNMENT' | translate"
  [(visible)]="displayImportDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [style]="{ width: '550px' }"
  styleClass="disable-max-height-preset"
>
  <div class="flex flex-column row-gap-3">
    <p-fileUpload
      #fileUploader
      id="apm_import_file_upload"
      mode="advanced"
      name="file"
      accept=".json"
      [maxFileSize]="1000000"
      [customUpload]="true"
      (uploadHandler)="onImportConfirmation()"
      (onImportClear)="onImportClear()"
      (onRemove)="onImportClear()"
      (onSelect)="onImportFileSelect($event)"
      [showUploadButton]="importError === undefined"
      [chooseLabel]="'ACTIONS.IMPORT.CHOOSE' | translate"
      [uploadLabel]="'ACTIONS.IMPORT.UPLOAD' | translate"
      [cancelLabel]="'ACTIONS.CANCEL' | translate"
    />
    <p-message
      *ngIf="importError?.exceptionKey"
      id="apm_import_error_message_general"
      class="w-full"
      severity="error"
      [text]="importError ? (importError.exceptionKey | translate) : ''"
    ></p-message>
    <ng-container *ngIf="importError?.error">
      <div class="card max-h-8rem p-2 surface-100 border-round overflow-auto">
        <div *ngIf="importError?.error.detail && !importError?.error.invalidParams">
          {{ importError?.error.detail }}
        </div>
        <div *ngIf="importError?.error.invalidParams?.length > 0">
          <div *ngIf="importError?.statusText === 'Conflict'">
            {{ 'ACTIONS.IMPORT.ERROR.CONFLICTS' | translate }} ({{ importError?.error.invalidParams.length }}):
          </div>
          <div *ngIf="importError?.statusText !== 'Conflict'">
            {{ 'ACTIONS.IMPORT.ERROR.PROBLEMS' | translate }} ({{ importError?.error.invalidParams.length }}):
          </div>
          <ul class="m-2 px-3">
            <li *ngFor="let param of importError?.error.invalidParams.slice(0, 10)">
              {{ param.name }}
              <div>{{ param.message }}</div>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end column-gap-2 row-gap-1">
      <p-button
        id="apm_import_action_cancel"
        icon="pi pi-times"
        (onClick)="onCloseImportDialog()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
    </div>
  </ng-template>
</p-dialog>

<!-- EXPORT -->
<app-permission-export
  [products]="productNames"
  [listedProductsHeaderKey]="'ACTIONS.EXPORT.APPLICATION_LIST'"
  [(displayExportDialog)]="displayExportDialog"
></app-permission-export>
