<ng-container *ngIf="userAssignments$ | async as items">
  <!-- display user name on right corner -->
  <div
    *ngIf="userId"
    class="absolute user-profile-name"
    [pTooltip]="'USER_PERMISSIONS.USER_NAME' | translate"
    tooltipPosition="top"
    tooltipEvent="hover"
  >
    {{ displayName }}
  </div>

  <p-message
    *ngIf="loading"
    id="apm_user_assignments_loading"
    severity="info"
    [text]="'ACTIONS.LOADING' | translate"
  ></p-message>
  <p-message
    *ngIf="exceptionKey"
    id="apm_user_assignments_exception"
    severity="error"
    [text]="exceptionKey | translate"
  ></p-message>

  <p-tabView
    *ngIf="!(exceptionKey || loading)"
    (onChange)="onTabChange($event, items)"
    [(activeIndex)]="selectedTabIndex"
  >
    <p-tabPanel id="apm_user_assignments">
      <ng-template pTemplate="header">
        <span
          [pTooltip]="'USER_PERMISSIONS.TABS.PERMISSIONS.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'USER_PERMISSIONS.TABS.PERMISSIONS' | translate }}
        </span>
      </ng-template>

      <div
        *ngIf="items.length === 0"
        class="m-3 font-bold"
        [pTooltip]="'USER_PERMISSIONS.TABS.IAM_ROLES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        {{ 'USER_PERMISSIONS.TABS.PERMISSIONS.TITLE' | translate }} 0
      </div>

      <p-table
        *ngIf="items.length > 0"
        #permissionTable
        id="apm_user_assignments_table"
        [columns]="columns"
        [value]="items"
        [styleClass]="'p-datatable-striped pb-2' + (!userId ? ' px-2 sm:px-3' : '')"
        [scrollable]="true"
        scrollHeight="400px"
        [autoLayout]="true"
        [globalFilterFields]="['role', 'action', 'resource', 'productName']"
        [rows]="10"
        [rowsPerPageOptions]="[10, 100]"
        [paginator]="true"
        [alwaysShowPaginator]="true"
        paginatorPosition="bottom"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-wrap justify-content-between align-items-center gap-2">
            <div class="font-bold">{{ 'USER_PERMISSIONS.TABS.PERMISSIONS.TITLE' | translate }} {{ items.length }}</div>
            <div class="p-inputgroup w-auto">
              <span class="p-inputgroup-addon data-view-control-border">
                <span class="pi pi-filter"></span>
              </span>
              <span class="p-float-label">
                <input
                  #permissionTableFilterInput
                  pInputText
                  type="text"
                  id="apm_user_assignments_table_filter"
                  (input)="applyGlobalFilter($event, permissionTable)"
                  [ariaLabel]="'ACTIONS.SEARCH.FILTER.LABEL' | translate"
                  [pTooltip]="
                    ('ACTIONS.SEARCH.FILTER.OF' | translate) +
                    ('USER_PERMISSIONS.RESOURCE' | translate) +
                    ', ' +
                    ('USER_PERMISSIONS.ACTION' | translate) +
                    ', ' +
                    ('USER_PERMISSIONS.PRODUCT' | translate) +
                    ', ' +
                    ('USER_PERMISSIONS.ROLE' | translate)
                  "
                  tooltipPosition="top"
                  tooltipEvent="hover"
                />
                <label for="apm_user_assignments_table_filter">{{ 'ACTIONS.SEARCH.FILTER.LABEL' | translate }}</label>
              </span>
              <a
                id="apm_user_assignments_table_filter_clear"
                class="p-inputgroup-addon bg-primary cursor-pointer pi pi-filter-slash"
                (click)="onClearFilterUserAssignmentTable()"
                tabindex="0"
                [pTooltip]="'ACTIONS.SEARCH.FILTER.CLEAR' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </a>
            </div>
            <p-button
              type="button"
              id="apm_user_assignments_table_header_action_reload"
              styleClass="h-full sm:ml-3"
              icon="pi pi-refresh"
              (onClick)="onReload()"
              [ariaLabel]="'ACTIONS.SEARCH.RELOAD' | translate"
              [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-button>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              id="apm_user_assignments_table_header_permissions"
              class="text-center border-permission-group p-1"
              colspan="3"
            >
              {{ 'USER_PERMISSIONS.PERMISSION' | translate }}
            </th>
            <th id="apm_user_assignments_table_header_roles" class="border-none"></th>
          </tr>
          <tr>
            <th
              *ngFor="let col of columns"
              [id]="'apm_user_assignments_table_header_' + col.field"
              class="p-2"
              [pSortableColumn]="col.field"
              [attr.aria-label]="col.tooltip | translate"
              [pTooltip]="col.tooltip | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <div class="flex flex-row flex-nowrap justify-content-center align-items-center">
                <ng-container *ngIf="!col.filter"> {{ col.header | translate }} </ng-container>
                <span *ngIf="col.filter" class="p-float-label atext-left">
                  <p-dropdown
                    [id]="'apm_user_assignments_table_filter_' + col.field"
                    (onClick)="$event.stopPropagation()"
                    (onChange)="permissionTable.filter($event.value, col.field, 'equals')"
                    [showClear]="true"
                    [emptyMessage]="'USER_PERMISSIONS.NO_RESULTS' | translate"
                    [options]="extractFilterItems(items, col.field)"
                    [(ngModel)]="col.value"
                  >
                  </p-dropdown>
                  <label [for]="'apm_user_assignments_table_filter_' + col.field"> {{ col.header | translate }}</label>
                </span>
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item let-columns="columns" let-i="rowIndex">
          <tr>
            <td
              *ngFor="let col of columns"
              [id]="'apm_user_assignments_table_row_' + i + '_' + col.field"
              class="text-center"
            >
              {{ item[col.field] }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="columns.length" id="apm_user_assignments_table_no_results">
              {{ 'USER_PERMISSIONS.NO_RESULTS' | translate }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>

    <!-- ROLES & MORE -->
    <p-tabPanel id="apm_user_roles_and_apps">
      <ng-template pTemplate="header">
        <span
          [pTooltip]="'USER_PERMISSIONS.TABS.ROLES_N_MORE.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'USER_PERMISSIONS.TABS.ROLES_N_MORE' | translate }}
        </span>
      </ng-template>

      <div class="m-3 flex flex-row flex-wrap justify-content-start align-items-start column-gap-5 row-gap-4">
        <!-- ROLES -->
        <div *ngIf="extractFilterItems(items, 'roleName') as roles" class="flex flex-column row-gap-2">
          <div
            class="font-bold"
            [pTooltip]="'USER_PERMISSIONS.TABS.ROLES.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ 'USER_PERMISSIONS.TABS.ROLES.TITLE' | translate }} {{ roles.length }}
          </div>
          <p-listbox
            *ngIf="roles.length > 0"
            id="apm_user_roles_list"
            [listStyle]="{ 'max-height': '300px' }"
            [options]="roles"
            [filter]="true"
            [filterPlaceHolder]="'USER_PERMISSIONS.TABS.ROLES.FILTER' | translate"
            [ariaLabel]="'USER_PERMISSIONS.TABS.ROLES.TITLE' | translate"
          />
        </div>

        <!-- PRODUCTS -->
        <div *ngIf="extractFilterItems(items, 'productName') as products" class="flex flex-column row-gap-2">
          <div
            class="font-bold"
            [pTooltip]="'USER_PERMISSIONS.TABS.PRODUCTS.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ 'USER_PERMISSIONS.TABS.PRODUCTS.TITLE' | translate }} {{ products.length }}
          </div>
          <p-listbox
            *ngIf="products.length > 0"
            id="apm_user_products_list"
            [listStyle]="{ 'max-height': '300px' }"
            [options]="products"
            [filter]="true"
            [filterPlaceHolder]="'USER_PERMISSIONS.TABS.PRODUCTS.FILTER' | translate"
            [ariaLabel]="'USER_PERMISSIONS.TABS.PRODUCTS.TITLE' | translate"
          />
        </div>
      </div>
    </p-tabPanel>

    <!-- IAM ROLES -->
    <p-tabPanel id="apm_user_iam_roles" *ocxIfPermission="'IAM_ROLE#VIEW'; permissions: componentPermissions">
      <ng-template pTemplate="header">
        <span
          [pTooltip]="'USER_PERMISSIONS.TABS.IAM_ROLES.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'USER_PERMISSIONS.TABS.IAM_ROLES' | translate }}
        </span>
      </ng-template>

      <!-- start loading if tab is active -->
      <ng-container *ngIf="selectedTabIndex === 2">
        <p-message
          *ngIf="!isComponentDefined"
          id="apm_user_iam_roles_exception_component_not_exist"
          severity="error"
          styleClass="m-3"
          [text]="'EXCEPTIONS.NOT_FOUND.IAM_COMPONENT' | translate"
        ></p-message>

        <!-- get roles from remote for a user in admin mode -->
        <ng-container *ngIf="isComponentDefined && iamRoles.length === 0">
          <ocx-slot [name]="slotName" [inputs]="{ userId: userId }" [outputs]="{ roleList: roleListEmitter }">
          </ocx-slot>
        </ng-container>

        <p-message
          *ngIf="loadingIamRoles"
          id="apm_user_iam_roles_loading"
          severity="info"
          styleClass="m-3"
          [text]="'ACTIONS.LOADING' | translate"
        ></p-message>
        <p-message
          *ngIf="exceptionKeyIamRoles"
          id="apm_user_iam_roles_exception"
          severity="error"
          styleClass="m-3"
          [text]="exceptionKeyIamRoles | translate"
        ></p-message>

        <ng-container *ngIf="isComponentDefined && (iamRoles$ | async) as iamRoles">
          <!-- displaying -->
          <div *ngIf="!(exceptionKeyIamRoles || loadingIamRoles)" class="m-3 flex flex-row justify-content-start">
            <div class="flex flex-column row-gap-2">
              <div
                class="font-bold"
                [pTooltip]="'USER_PERMISSIONS.TABS.IAM_ROLES.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ 'USER_PERMISSIONS.TABS.ROLES.TITLE' | translate }} {{ iamRoles.length }}
              </div>
              <p-listbox
                id="apm_user_iam_roles_list"
                [listStyle]="{ 'max-height': '300px' }"
                [options]="iamRoles"
                [filter]="true"
                [filterFields]="['label']"
                [filterPlaceHolder]="'USER_PERMISSIONS.TABS.ROLES.FILTER' | translate"
                [ariaLabel]="'USER_PERMISSIONS.TABS.ROLES.TITLE' | translate"
              >
                <ng-template let-role pTemplate="item">
                  <div
                    class="flex align-items-center gap-2"
                    [pTooltip]="
                      !role.isUserAssignedRole ? '' : ('USER_PERMISSIONS.TABS.IAM_ROLES.USER_ASSIGNED' | translate)
                    "
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    <span
                      class="pi text-primary font-bold cursor-auto"
                      [ngClass]="{ 'pi-check': role.isUserAssignedRole }"
                      style="width: 18px"
                    ></span>
                    <div class="cursor-auto">{{ role.label }}</div>
                  </div>
                </ng-template>
              </p-listbox>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </p-tabPanel>
  </p-tabView>
</ng-container>
