@import '/src/app/_apm-mixins.scss';

@include tabview-fix-color-selected-tab;
@include tabview-reduce-padding;
@include listbox-zebra-rows;
@include listbox-layout;

:host {
  .border-permission-group {
    background-color: rgba(var(--primary-color-rgb), 0.12);
  }
}

:host ::ng-deep {
  .p-dialog .p-dialog-content {
    border-bottom-left-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
  }

  .user-profile-name {
    top: 1.55rem;
    right: 8rem;
    font-weight: var(--dialog-header-font-weight); // same as dialog-title
    font-size: var(--dialog-header-font-size);
  }

  .correct-ocx-interactive-data-view > ocx-interactive-data-view > div {
    padding: 0 0 0.5rem 0 !important;
    &.surface-border {
      border-bottom: var(--table-header-border) !important;
    }
  }
  // reduce on all panels
  .p-tabview .p-tabview-panels {
    padding: 0;
  }

  .p-datatable .p-datatable-thead > tr > th {
    border-bottom-width: 2px;
  }
}
