/* The following two imports are highly unusual in this context, but essential for styling the RC. */
//@use 'primeflex/primeflex.scss';
//@use 'primeicons/primeicons.css';

/* Cross used classes */
@use 'src/app/apm-mixins' as *;

@include danger-action;
@include word-break-all;
@include ocx-text-responsive;
@include ocx-p-message;
@include ocx-p-inputgroup;
@include ocx-tabs;
@include table-zebra-rows;
@include table-inline-buttons;
@include table-responsive-columns;
@include selectbox-zebra-rows;
@include listbox-zebra-rows;
@include listbox-layout;

:host ::ng-deep {
  /* More space if component is used for displaying permissions for active user */
  .p-tabs .p-tabpanels {
    padding: 0;

    &.non-modal-panels {
      padding: 0.3rem 1rem;
    }
  }

  /* default size of filter lists, if no filter is selected */
  .min-w-10rem {
    min-width: 10rem;
    min-height: 2.8rem;
  }
  .min-w-20rem {
    min-width: 20rem;
  }

  /* Displaying user profile name within the header on right side */
  .user-profile-name {
    top: 1.55rem;
    right: 8rem;
    font-weight: var(--dialog-header-font-weight); // same as dialog-title
    font-size: var(--dialog-header-font-size);
  }
}
