<p-dialog
  [(visible)]="displayDetailDialog"
  [header]="'ACTIONS.' + changeMode + '.PERMISSION' | translate"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [style]="{ width: '400px' }"
>
  <form [formGroup]="formGroup" errorTailor>
    <div class="flex flex-wrap flex-column gap-4 justify-content-between">
      <div class="mt-1">
        <span class="p-float-label" controlErrorAnchor>
          <input pInputText type="text" class="w-full" id="app_detail_create_permission_name" formControlName="appId" />
          <label class="ocx-required-label" for="app_detail_create_permission_name">
            {{ 'PERMISSION.APP_ID' | translate }}
          </label>
        </span>
      </div>
      <div>
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            class="w-full"
            id="app_detail_create_permission_description"
            formControlName="description"
          />
          <label for="app_detail_create_permission_description">{{ 'PERMISSION.DESCRIPTION' | translate }} </label>
        </span>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <button
        pButton
        autofocus
        type="button"
        class="m-0"
        id="app_detail_create_permission_button_cancel"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.CANCEL' | translate"
        (click)="onClose()"
      ></button>
      <button
        pButton
        type="button"
        class="m-0"
        id="app_detail_create_permission_button_save"
        icon="pi pi-save"
        iconPos="left"
        [label]="'ACTIONS.SAVE' | translate"
        [disabled]="!formGroup.valid"
        (click)="onSave()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<!-- DELETE PERMISSION -->
<p-dialog
  [(visible)]="displayDeleteDialog"
  [header]="'ACTIONS.DELETE.PERMISSION' | translate"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div>
        {{ ('ACTIONS.DELETE.MESSAGE.TEXT' | translate).replace('{{ITEM}}', permission?.resource + '#' +
        permission?.action) }}
      </div>
      <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE.INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <button
        pButton
        autofocus
        type="button"
        class="m-0"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        (click)="onClose()"
      ></button>
      <button
        pButton
        type="button"
        class="m-0"
        icon="pi pi-check"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        (click)="onDeleteConfirmation()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
