<p-dialog
  [(visible)]="displayDetailDialog"
  [header]="'ACTIONS.' + changeMode + '.PERMISSION' | translate"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [style]="{ width: '450px' }"
>
  <form [formGroup]="formGroup" errorTailor>
    <div class="flex flex-wrap flex-column gap-4 justify-content-between">
      <div class="mt-1">
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            class="w-full"
            id="permission_detail_product_name"
            formControlName="productName"
          />
          <label class="ocx-required-label" for="permission_detail_product_name">
            {{ 'PERMISSION.PRODUCT_NAME' | translate }}
          </label>
        </span>
      </div>
      <div>
        <span class="p-float-label" controlErrorAnchor>
          <input pInputText type="text" class="w-full" id="permission_detail_app_id" formControlName="appId" />
          <label class="ocx-required-label" for="permission_detail_app_id">
            {{ 'PERMISSION.APP_ID' | translate }}
          </label>
        </span>
      </div>
      <div *ngIf="changeMode !== 'CREATE'">
        <div class="px-2 mb-2 flex flex-row justify-content-between align-items-center column-gap-3">
          <p-checkbox
            type="text"
            inputId="permission_detail_operator"
            formControlName="operator"
            [binary]="true"
            [styleClass]="'cursor-auto shadow-none'"
            [label]="'PERMISSION.OPERATOR' | translate"
            [pTooltip]="'PERMISSION.OPERATOR.TOOLTIP' | translate"
            tooltipPosition="right"
            tooltipEvent="hover"
          ></p-checkbox>
          <p-checkbox
            type="text"
            inputId="permission_detail_mandatory"
            formControlName="mandatory"
            [binary]="true"
            [styleClass]="'cursor-auto shadow-none'"
            [label]="'PERMISSION.MANDATORY' | translate"
            [pTooltip]="'PERMISSION.MANDATORY.TOOLTIP' | translate"
            tooltipPosition="right"
            tooltipEvent="hover"
          ></p-checkbox>
        </div>
        <p-message
          *ngIf="permission?.operator"
          styleClass="p-1"
          id="workspace_import_confirm_message_workspace_exists"
          severity="info"
          [text]="'ACTIONS.DELETE.MESSAGE.OPERATOR_TEXT' | translate"
        ></p-message>
      </div>
      <div>
        <span class="p-float-label" controlErrorAnchor>
          <input pInputText type="text" class="w-full" id="permission_detail_resource" formControlName="resource" />
          <label class="ocx-required-label" for="permission_detail_resource">
            {{ 'PERMISSION.RESOURCE' | translate }}
          </label>
        </span>
      </div>
      <div>
        <span class="p-float-label" controlErrorAnchor>
          <input pInputText type="text" class="w-full" id="permission_detail_action" formControlName="action" />
          <label class="ocx-required-label" for="permission_detail_action">
            {{ 'PERMISSION.ACTION' | translate }}
          </label>
        </span>
      </div>
      <div>
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            class="w-full"
            id="permission_detail_description"
            formControlName="description"
          />
          <label for="permission_detail_description">{{ 'PERMISSION.DESCRIPTION' | translate }} </label>
        </span>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <button
        *ngIf="changeMode === 'VIEW'"
        pButton
        autofocus
        type="button"
        class="m-0"
        id="permission_detail_button_close"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [title]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        (click)="onClose()"
      ></button>
      <button
        *ngIf="changeMode !== 'VIEW'"
        pButton
        autofocus
        type="button"
        class="m-0"
        id="permission_detail_button_cancel"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.CANCEL' | translate"
        [title]="'ACTIONS.NAVIGATION.CLOSE_WITHOUT_SAVE' | translate"
        (click)="onClose()"
      ></button>
      <button
        *ngIf="changeMode !== 'VIEW'"
        pButton
        type="button"
        class="m-0"
        id="permission_detail_button_save"
        icon="pi pi-save"
        iconPos="left"
        [label]="'ACTIONS.SAVE' | translate"
        [title]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        [disabled]="!formGroup.valid"
        (click)="onSave()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<!-- DELETE PERMISSION -->
<p-dialog
  [(visible)]="displayDeleteDialog"
  [header]="'ACTIONS.DELETE.PERMISSION' | translate"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
>
  <div class="mr-2 flex column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div id="permission_delete_message" class="font-bold">
        {{ ('ACTIONS.DELETE.MESSAGE.TEXT' | translate).replace('{{ITEM}}', permission?.resource + '#' +
        permission?.action) }}
      </div>
      <div *ngIf="permission?.operator" class="mt-3">{{ 'ACTIONS.DELETE.MESSAGE.OPERATOR_TEXT' | translate }}</div>
      <div class="mt-3">{{ 'ACTIONS.DELETE.MESSAGE.INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <button
        pButton
        autofocus
        type="button"
        id="permission_delete_button_no"
        class="m-0"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        (click)="onClose()"
      ></button>
      <button
        pButton
        type="button"
        id="permission_delete_button_yes"
        class="m-0"
        icon="pi pi-check"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        (click)="onDeleteConfirmation()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
