app:
  name: ui
  image:
    repository: 'onecx/onecx-permission-ui'
  routing:
    enabled: true
    path: /mfe/permission/
  
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        main:
          exposedModule: "./OneCXPermissionModule"
          description: "OneCX Permission UI"
          note: "OneCX Permission UI module auto import via MF operator"
          type: MODULE
        user-roles-permissions:
          exposedModule: "./OneCXUserRolesPermissionsComponent"
          description: "Show current user's roles and permissions"
          type: COMPONENT
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          APP:
            EDIT: Edit permission app details
            SAVE: Update and save permission app details
            SEARCH: Search permission apps
            VIEW: View app details
          PERMISSION:
            GRANT: Assign or remove a permission to a role
            CREATE: Create permission
            DELETE: Delete permission
            EDIT: Edit permission
            SAVE: Update and save permission
          ROLE:
            CREATE: Create role
            DELETE: Delete role
            EDIT: Edit role
            SAVE: Update and save role

# PIPE Config
