@import '/src/app/_apm-mixins.scss';

@include listbox-zebra-rows;

:host ::ng-deep {
  .p-listbox {
    box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    .p-listbox-list-wrapper {
      border-radius: var(--border-radius);
      .p-listbox-list .p-listbox-item {
        padding: 0.5rem 1rem;
        .p-checkbox {
          margin-right: 1rem;
        }
      }
    }
  }
}
