<p-dialog
  [header]="'ACTIONS.' + changeMode + '.ROLE' | translate"
  [(visible)]="displayDetailDialog"
  (onHide)="dataChanged.emit(false)"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [style]="{ width: '400px' }"
>
  <form [formGroup]="formGroup" errorTailor>
    <div class="flex flex-wrap flex-column row-gap-4 justify-content-between">
      <div class="mt-1">
        <p-floatlabel controlErrorAnchor>
          <input
            pInputText
            type="text"
            class="w-full text-responsive"
            id="apm_role_detail_name"
            formControlName="name"
            [ariaLabel]="'ROLE.NAME' | translate"
            [pTooltip]="'ROLE.NAME' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="apm_role_detail_name"> {{ 'ROLE.NAME' | translate }} </label>
        </p-floatlabel>
      </div>
      <div>
        <p-floatlabel>
          <input
            pInputText
            type="text"
            class="w-full text-responsive"
            id="apm_role_detail_description"
            formControlName="description"
            [pTooltip]="'ROLE.DESCRIPTION' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="apm_role_detail_description">{{ 'ROLE.DESCRIPTION' | translate }} </label>
        </p-floatlabel>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        autofocus
        id="apm_role_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="dataChanged.emit(false)"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <p-button
        id="apm_role_detail_action_save"
        icon="pi pi-save"
        (onClick)="onSaveRole()"
        [disabled]="!formGroup.valid"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
    </div>
  </ng-template>
</p-dialog>
