<p-dialog
  [header]="'ACTIONS.' + changeMode + '.ROLE' | translate"
  [(visible)]="displayDetailDialog"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [style]="{ width: '400px' }"
>
  <form [formGroup]="formGroupRole" errorTailor>
    <div class="flex flex-wrap flex-column row-gap-4 justify-content-between">
      <div class="mt-1">
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            class="w-full text-responsive"
            id="apm_role_detail_name"
            formControlName="name"
            [ariaLabel]="'ROLE.NAME' | translate"
            [pTooltip]="'ROLE.NAME' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="apm_role_detail_name"> {{ 'ROLE.NAME' | translate }} </label>
        </span>
      </div>
      <div>
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            class="w-full text-responsive"
            id="apm_role_detail_description"
            formControlName="description"
            [pTooltip]="'ROLE.DESCRIPTION' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="apm_role_detail_description">{{ 'ROLE.DESCRIPTION' | translate }} </label>
        </span>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        autofocus
        id="apm_role_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onClose()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="apm_role_detail_action_save"
        icon="pi pi-save"
        (onClick)="onSaveRole()"
        [disabled]="!formGroupRole.valid"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- DELETE ROLE -->
<p-dialog
  [(visible)]="displayDeleteDialog"
  [header]="'ACTIONS.DELETE.ROLE' | translate"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
>
  <div class="mr-2 flex column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div class="flex flex-column row-gap-2">
      <div id="apm_role_delete_message" class="font-bold">{{ 'ACTIONS.DELETE.MESSAGE.ROLE' | translate }}</div>
      <div id="apm_role_delete_role_name" class="font-bold text-center danger-action-text">{{ role?.name }}</div>
      <div>{{ 'ACTIONS.DELETE.MESSAGE.INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="apm_role_delete_action_no"
        icon="pi pi-times"
        (onClick)="onClose()"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="apm_role_delete_action_yes"
        icon="pi pi-check"
        (onClick)="onDeleteConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- SELECT IAM ROLES -->
<p-dialog
  [header]="'ROLE.IAM.HEADER' | translate"
  [(visible)]="showIamRolesDialog"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  *ngIf="(iamRoles$ | async)?.sort(sortRoleByName) ?? [] as roles"
>
  <p-message
    *ngIf="loadingExceptionKey"
    id="apm_iam_roles_data_access_issue"
    severity="error"
    [text]="loadingExceptionKey | translate"
  ></p-message>
  <p-message
    *ngIf="loading"
    id="apm_iam_roles_loading"
    severity="info"
    [text]="'ACTIONS.LOADING' | translate"
  ></p-message>

  <div *ngIf="!loading && !loadingExceptionKey" class="flex flex-column row-gap-1">
    <div>{{ 'ROLE.IAM.LIST' | translate }}</div>
    <p-listbox
      id="apm_iam_roles_list"
      [options]="roles"
      [(ngModel)]="selectedIamRoles"
      optionLabel="name"
      [filter]="true"
      [checkbox]="true"
      [multiple]="true"
      [metaKeySelection]="false"
      [showToggleAll]="false"
      [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
      [listStyle]="{ 'max-height': '300px' }"
      [ariaLabel]="'ROLE.IAM.LIST' | translate"
    />
    <div class="text-xs">{{ 'ROLE.IAM.INFO' | translate }}</div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        *ngIf="loadingExceptionKey || loading"
        id="apm_iam_roles_action_close"
        icon="pi pi-times"
        (onClick)="onClose()"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="!loadingExceptionKey && !loading"
        id="apm_iam_roles_action_cancel"
        icon="pi pi-times"
        (onClick)="onClose()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="!loadingExceptionKey && !loading"
        id="apm_iam_roles_action_save"
        icon="pi pi-check"
        (onClick)="onAddIamRoles()"
        [disabled]="selectedIamRoles.length === 0"
        [label]="'ROLE.IAM.SAVE' | translate"
        [ariaLabel]="'ROLE.IAM.SAVE' | translate"
        [pTooltip]="'ROLE.IAM.SAVE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
